{% extends 'base.html' %}
{% load static %}

{% block title %}メール受信テスト | Unplugged Message{% endblock %}
{% block extrastyle %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block body %}

<h3>メール受信テスト</h3>
<section id="app">
	<p>
		現在設定されている受信メールアドレス：<br>
		<span v-if="display">
			{{ user.get_receive_email }}
			<a @click="display = !display" class="text-primary">メールアドレスを隠す</a>
		</span>
		<span v-else>
			**************
			<a @click="display = !display" class="text-primary">メールアドレスを表示する</a>
		</span>
	</p>
	<p>
		上記のメールアドレスにテストメールを送信します。<br>
		<span class="small">
			5分に1回送信することが出来ます。
		</span><br>
		<span class="small text-seconday">
			皆さんに大量に送信されると、メール送信サービスの無料枠を超えてしまう恐れがあるためです。<br>
			ご了承ください。
		</span>
	</p>
	<a href="{% url 'members:index' %}" class="btn btn-secondary">戻る</a>
	<button @click="send" class="btn btn-info">テストメールを送信する</button>
	<p class="my-3" :class="{'text-danger': isError}">[[message]]</p>
</section>

<script type="text/javascript">
let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
		display: false,
		inProcess: false,
		message: '',
		isError: false,
	},
	methods: {
		send: function(){
			if (this.inProcess == true){
				console.log('doubleclicked');
				return false;
			}
			this.inProcess = true;
			this.message = '送信中...';
			this.isError = false;
			let url = window.location.href;

            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.post(url, {'send': 'true'})
                .then(function (response) {
                    console.log(response);
                    app.isError = false;
					app.message = '送信しました！';
                })
                .catch(function (error) {
                    console.log(error);
					app.isError = true;
                    if (!error.response) {
                        console.log('network error');
                        app.message = '通信に失敗しました。インターネットへの接続を確認し、再度送信ボタンを押してください。(Network Error)'
                    } else if (error.response.status == 429) {
						console.log(error.response.statusText);
						app.message = '送信は5分に1回のみ可能です。時間をおいて再度アクセスしてください。(' +
                                           error.response.status + ' ' + error.response.statusText + ')';
					} else {
                        console.log('internal error');
                        app.message = '処理に失敗しました。メールが正常に送信されなかった可能性があります。お手数ですが、開発者までご連絡ください。(' +
                                           error.response.status + ' ' + error.response.statusText + ')';
                    }
				})
				.finally(() => app.inProcess = false);
		}
	}
    
})
</script>
<style type="text/css">

</style>
{% endblock %}