{% extends 'base.html' %}
{% load static %}

{% block title %}マイページ | Unplugged Message{% endblock %}
{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/members/index.css' %}">
	<script src="{% static 'js/all_kidoku.js' %}"></script>
{% endblock %}


{% block body %}
<section id="username">
	<h3 class="d-inline-block">{{ user.get_full_name }}</h3>
	{% if user.nickname %}
	<h4 class="d-inline-block">({{ user.nickname }})</h4>
	{% endif %}
	<p>
		<a href="{% url 'user_update' %}" class="btn btn-info m-2">登録情報確認・変更</a>
		<a href="{% url 'logout' %}" class="btn btn-outline-secondary m-2">ログアウト</a>
		{% if register_allowed %}
		<a href="{% url 'register_form' %}" class="btn btn-warning m-2">ユーザー登録へ</a>
		{% endif %}
		{% if user.is_superuser %}
		<a href="/admin/" class="btn btn-danger m-2">管理者管理ページへ</a>
		{% endif %}
	</p>
</section>
<section id="midoku" class="mypage_message py-3 pl-3 border-top">
	<h5 class="d-inline-block">未読メッセージ</h5>
	{% if midoku %}
	<button type="submit" onclick="kidoku()" class="btn btn-outline-secondary btn-sm d-inline-block mb-1 ml-2">すべて既読にする</button>
	<form id="kidoku_form">
		{% csrf_token %}
		<input type="hidden" name="kidoku" value="true">
	</form>
	<ul class="list-unstyled">
		{% for message in midoku %}
		<li>
			<a href="/read/content/{{ message.id }}">{{ message.title }}</a>
			<span class="small">{{ message.created_at|date:"Y/m/d D H:i" }} 送信</span>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p class="alert alert-secondary m-0 p-2">すべてのメッセージをすでに読んています。</p>
	
	{% endif %}
</section>
<section id="yousend" class="mypage_message py-3 pl-3 border-top">
	<h5>あなたが送信したメッセージ</h5>
	{% if yousend %}
	<ul class="list-unstyled">
		{% for message in yousend %}
		<li>
			<a href="/read/content/{{ message.id }}">{{ message.title }}</a>
			<span class="small">{{ message.created_at|date:"Y/m/d D H:i" }} 送信</span>
		</li>
		{% endfor %}
	</ul>
	<p class="small alert alert-secondary m-0 p-2">これらのメッセージは送信後にあなたが編集することができます。</p>
	{% else %}
	メッセージ：0件
	{% endif %}
</section>

<section id="yourmessage_otherssend" class="mypage_message py-3 pl-3 border-top">
	<h5>あなたの代わりに送信されたメッセージ</h5>
	{% if yourmessage_otherssend %}
	<ul class="list-unstyled">
		{% for message in yourmessage_otherssend %}
		<li>
			<a href="/read/content/{{ message.id }}">{{ message.title }}</a>
			<span class="small">{{ message.created_at|date:"Y/m/d D H:i" }} 送信</span>
		</li>
		{% endfor %}
	</ul>
	<p class="small alert alert-secondary m-0 p-2">これらのメッセージは送信後にあなたが編集することができます。</p>
	{% else %}
	メッセージ：0件
	{% endif %}
</section>
{% endblock %}