{% extends 'base.html' %}
{% load static %}

{% block title %}登録情報変更 | Unplugged Message{% endblock %}


{% block body %}
<h3>登録情報変更</h3>
<label>Googleアカウント:</label>
<div class="p-2 border rounded">{{ user.email }}</div>
<span id="update_detail" class="small text-secondary">Googleアカウントを変更する時は管理者にお問い合わせください</span>
<p id="showdetail" class="small text-secondary mb-3 d-none">
	もし、再登録したGoogleアカウントのアドレスにスペルミス等があった場合、<br>
	次回正しいGoogleアカウントでログインすることができず、<br>
	自分のアカウントに入れないという事故が起きる可能性があるためです。
</p>

	<form method="post">
		{% csrf_token %}
		<div class="form-group">
			{{ form.receive_email.label_tag }}
			{{ form.receive_email }}
			{% if form.receive_email.errors %}
			<p class="small text-danger pl-2">{{ form.receive_email.errors.as_text }}</p>
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.send_mail.label_tag }}
			{{ form.send_mail }}
			{% if form.send_mail.errors %}
			<p class="small text-danger pl-2">{{ form.send_mail.errors.as_text }}</p>
			{% endif %}
			<p class="small text-secondary">
				メーリスを受け取りたくない場合はチェックを外してください。<br>
				チェックが外されると、全回・回生メーリスともに送信されないようになりますが、<br>
				このサイトにログインし、メーリスを確認することは出来ます。
			</p>
		</div>
		<div class="form-group">
			{{ form.last_name.label_tag }}
			{{ form.last_name }}
			{% if form.last_name.errors %}
			<p class="small text-danger pl-2">{{ form.last_name.errors.as_text }}</p>
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.first_name.label_tag }}
			{{ form.first_name }}
			{% if form.first_name.errors %}
			<p class="small text-danger pl-2">{{ form.first_name.errors.as_text }}</p>
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.furigana.label_tag }}
			{{ form.furigana }}
			{% if form.furigana.errors %}
			<p class="small text-danger pl-2">{{ form.furigana.errors.as_text }}</p>
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.nickname.label_tag }}
			{{ form.nickname }}
			{% if form.nickname.errors %}
			<p class="small text-danger pl-2">{{ form.nickname.errors.as_text }}</p>
			{% endif %}
		</div>

		<input type="submit" name="search" value="更新" class="btn btn-info mx-2 my-3">
	</form>

<script type="text/javascript">
(function () {
    $('#showdetail').css('display', 'hidden');
}());
$(document).on('click',"#update_detail",function(){
	$("#showdetail").toggleClass('d-none');
});
$(document).on('click',"#showdetail",function(){
	$("#showdetail").addClass('d-none');
});
</script>
{% endblock %}