{% extends 'base.html' %}
{% load static %}

{% block title %}LiveLog・Google認証 | Unplugged Message{% endblock %}



{% block body %}

<h3>LiveLog・Google認証</h3>
<section>
	<p>認証を行ったサービスのアカウントでログインすることが出来ます。</p>
	<table class="table">
		<tbody>
			<tr>
				<td>Google</td>
				<td>
					{% if google %}<span class="text-success">認証しています</span>{% else %}
					<a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'members:oauth' %}">
						認証する
					</a>{% endif %}
				</td>
			</tr>
			<tr>
				<td>LiveLog</td>
				<td>
					{% if livelog %}<span class="text-success">認証しています</span>{% else %}
					<a href="/auth/login/auth0?next={% url 'members:oauth' %}">
						認証する
					</a>{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
	<a href="{% url 'members:index' %}" class="btn btn-secondary mr-4">戻る</a>
</section>	
{% endblock %}