{% extends 'base.html' %}
{% load static %}
{% load kansou_list %}

{% block title %}新メーリスの使い方 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block body %}
<h3 class="my-1">新メーリスの使い方</h3>
<p class="py-2">
	新メーリスの仕様、使い方について載せていきます。<br>
	
</p>
<div class="row">
	<section class="list-group list-group-flush col-sm-6 col-lg-4 my-3">
		<a href="{% url 'howto:introduction' %}" class="list-group-item">はじめに（新入生向け）</a></li>
		<a href="{% url 'howto:introduction' %}" class="list-group-item">このサイトについて</a></li>
		<a href="{% url 'howto:introduction' %}#2" class="list-group-item">ログインの方法</a></li>
	</section>
	<section class="list-group list-group-flush col-sm-6 col-lg-4 my-3">
	<a href="{% url 'howto:user_setting' %}" class="list-group-item">ユーザー情報の設定</a></li>
	<a href="{% url 'howto:user_setting' %}" class="list-group-item">名前、ニックネームの設定</a></li>
	<a href="{% url 'howto:user_setting' %}#2" class="list-group-item">受信用メールアドレスの設定</a></li>
	</section>
	<section class="list-group list-group-flush col-sm-6 col-lg-4 my-3">
	<a href="{% url 'howto:user_setting' %}" class="list-group-item">メーリスを読む</a></li>
		<a class="list-group-item disabled">全回、回生の表示について</a></li>
		<a class="list-group-item disabled">検索機能を使う</a></li>
		<a class="list-group-item disabled">既読の機能について</a></li>
		<a class="list-group-item disabled">ブックマーク機能について</a></li>
	</section>
	<section class="list-group list-group-flush col-sm-6 col-lg-4 my-3">
		<a href="{% url 'howto:send_message' %}" class="list-group-item">メーリスを送信する</a></li>
		<a href="{% url 'howto:send_message' %}" class="list-group-item">送信するにはどこから？</a></li>
		<a href="{% url 'howto:send_message' %}#2" class="list-group-item">件名、本文を入力する</a></li>
		<a href="{% url 'howto:send_message' %}#3" class="list-group-item">宛先を選択する</a></li>
		<a href="{% url 'howto:send_message' %}#4" class="list-group-item">送信者を選択する（代理送信機能を使う）</a></li>
		<a class="list-group-item disabled">ファイルを添付する</a></li>
		<a class="list-group-item disabled">送信を行うときの注意点</a></li>
		<a class="list-group-item disabled">送信後に編集する</a></li>
	</section>
	<section class="list-group list-group-flush col-sm-6 col-lg-4 my-3">
		<a class="list-group-item disabled">音源を聞く</a></li>
		<a class="list-group-item disabled">音源の一覧画面</a></li>
		<a class="list-group-item disabled">プレーヤーの機能</a></li>
	</section>
</div>


<style type="text/css">
section a:first-child{
	font-size: 1.25rem;
	border-top: none;
	border-left: 0.5rem solid #eee!important;
	padding-left: 0.75rem;
}
</style>
{% endblock %}