{% extends 'howto/content_base.html' %}
{% load static %}

{% block title %}はじめに | 使い方 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block content %}
<h3 class="mb-3">はじめに</h3>
<h4 id="1">このサイトは</h4>
<p>
    このサイトは、京大アンプラグドの<b>部内での情報共有を目的とした</b>部員向けのサイトです。<br>
    アンプラには主に3つのウェブサイトがあり、
    <ul>
        <li><a href="https://ku-unplugged.net" target="_blank">公式ホームページ</a><span class="ml-3">主に外部生・新入生向けの情報発信</span></li>
        <li><a href="https://livelog.ku-unplugged.net" target="_blank">LiveLog</a><span class="ml-3">アンプラで行ったライブ・曲のデータベース、ライブの募集</span>
        </li>
        <li>Unplugged Message<span class="ml-3">このサイト</span></li>
    </ul>
    があり、それぞれで役割分担をしています。
</p>
<p>
    このUnpluggedMessageでは以下の役割を担っています。
    <ul>
        <li><b>メーリングリスト（部員へのメール一斉送信）</b></li>
        <li>ライブ感想用紙の掲載</li>
        <li>リハーサル音源の掲載</li>
        <li>LiveLogに載らないライブ・行事の動画、写真の掲載</li>
        <li>セットリストなど、必要書類の掲載</li>
    </ul>
</p>
<p>
    とくにメーリングリストの機能は重要で、ここからライブや行事などのお知らせが届きます。<br>
    きちんとメールが受信できるように設定をしておいてください。<br>
</p>
<p class="dev">
    2019年10月まではfreemlというメーリングリストサービスを利用していました。<br>
    freemlが2019年6月3日にサービス終了予告発表→12月2日に終了したため、このサイトを立ち上げました。<br>
</p>
<p class="dev">
    メーリス以外の役割は2019年10月まで公式HPが担っていました。<br>
    当時の公式HPにはパスワードが必要な会員のみページがあり、そこに掲載されていました。<br>
    2019年10月に公式HPがリニューアルし、会員のみページは無くなりました。<br>
</p>
<h4 id="2">LiveLogアカウントでの初回ログイン</h4>
<p>
    UnpluggedMessageの中身を見るには<b>ログインが必須</b>です。<br>
    ログインしていないと何も見ることはできません。<br>
    ここではLiveLogアカウントを用いた初回ログイン（サインアップ）の方法を紹介します。
</p>
<div class="border-left-dotted mt-3 mb-4">
    <h5 class="mt-2 mb-4">LiveLogアカウントでのサインアップ（初回ログイン）</h5>
    <ol class="process">
        <li><a href="https://message.ku-unplugged.net" target="_blank">トップページ</a>から「LiveLogでログイン」をクリックします。</li>
        <li>表示された画面に、自分のメールアドレス、パスワードを入力します。</li>
        <li>
            UnpluggedMessageの「初回登録」ページに戻ってきます。ここで<b>氏名、ふりがななどの必要事項</b>を記入してください。<br>
            受信用メールアドレスとは、メーリスを受け取るためのメールアドレスです。これはLiveLogに登録したメールアドレスと<b>同じでなくてもかまいません</b>。
            自分が受け取りやすいメールアドレスを設定してください。
        </li>
        <li>初回登録を完了するとサインアップは終了です。</li>
    </ol>
</div>
<p>
    受信用メールアドレスの詳細については<a href="{% url 'howto:user_setting' %}#2">こちら</a>をご覧ください。
</p>
<p class="dev">
    UnpluggedMessageではサインアップ時、LiveLogからメールアドレス、入部年度の情報の提供を受けます。
</p>

<p>
    サインアップが完了すると、次回からは登録に用いたLiveLogアカウントでログインできるようになります。<br>
    おつかれさまでした。
</p>
<hr>
<p>
    <a href="{% url 'howto:index' %}" class="mb-5">使い方・トップページ</a>に戻る
</p>


{% endblock %}