{% extends 'howto/content_base.html' %}
{% load static %}

{% block title %}その他資料（管理者向け） | 使い方 | Zoomail{% endblock %}

{% block content %}
<h3 class="mb-3">その他資料（管理者向け）</h3>

<h4 id="1">アップロードできるファイル</h4>
<p>
  ファイルの種類は制限していません。pdfでもmp3でもアップロードできます。<br>
  しかし、ファイルサイズには制限を設けています。<br>
  ファイルサイズの最大は<b>30MBです。</b>
</p>
<p class="dev">
  30MBぎりぎりだとファイルサイズ算出方法の違いからはじかれるかもしれません。
</p>

<h4 id="2">表示順（index設定）について</h4>
<p>
  アップロードされたファイルは以下のルールによって表示順が決定されます。
</p>
<ol class="process">
  <li>indexの値が大きい順に上から下へ。</li>
  <li>同じindex値の中では更新日時が新しい方が上に、古い方が下に。</li>
</ol>
<p>
  したがって、例えば以下のような表示順序になります。
</p>
<p>
  資料１（index=99）（更新2020/3/1）<br>
  資料２（index=50）（更新2020/5/1）<br>
  資料３（index=0）（更新2020/6/1）<br>
  資料４（index=0）（更新2020/4/1）<br>
  資料５（index=0）（更新2020/3/1）<br>
  資料６（index=-10）（更新2020/1/1）<br>
</p>
<p>
  デフォルトではindex値は0です。負の数も扱いますが、整数のみです。<br>
  また、更新日時はサーバーでの処理の中で自動的に付けられます。<br>
</p>
<p class="dev">
  index値の設定できる範囲は<b>-30000から30000</b>です。<br>
  しかし、後から追加される資料のためにあまり（絶対値が）大きい数字を入れない方が好ましいです。
</p>
<p>
  index値は少し複雑な実装ですが、これを使えばおおよそ任意の順番にファイルを掲載することができるのでぜひ使ってみてください。
</p>
<hr>
<p>
  <a href="{% url 'howto:index' %}" class="mb-5">使い方・トップページ</a>に戻る
</p>

{% endblock %}