{% extends 'howto/content_base.html' %}
{% load static %}

{% block title %}メーリスを送信する | 使い方 | UnpluggedMessage{% endblock %}

{% block content %}
<h3 class="mb-3">メーリスを送信する</h3>

<h4 id="1">送信するにはどこから？</h4>
<p>
	メニューから「メーリス」を選び、画面右下にある
	<img src="{% static 'img/howto/2-1.png' %}" class="img-thumbnail" width="300">
	この紙飛行機ボタンからメーリスを送信する画面にいくことが出来ます。<br>
	（ツイッターと同じような送信ボタンの配置です。）
</p>
<p class="dev">
	パソコン上でマウスをアイコンに置いたり、スマホでアイコンをタップするとアイコンが大きくなります。
	<img src="{% static 'img/howto/2-2.png' %}" class="img-thumbnail" width="300">
</p>

<h4 id="2">件名、本文を入力する</h4>
<p>
	<img src="{% static 'img/howto/2-3.png' %}" class="img-thumbnail" width="300">
	メールの件名、本文を入力してください。<br>
	どちらも必須で、<b>件名無しのメールは送信することは出来ない</b>ようになってます。<br>
	また、件名は改行出来ません。
</p>

<h4 id="3">宛先を選択する</h4>
<p>
	件名欄の下にある「To」の選択肢から宛先を選んでください。
	<img src="{% static 'img/howto/2-4.png' %}" class="img-thumbnail" width="300">
	宛先の選択肢は、「全回」と「各回生」です。<br>
	宛先は複数選択することができ、例えば1、2回コンのお知らせをしたいときには<br>
	宛先に1回生と2回生を選択することで2学年に送信できます。
</p>
<p>
	選択された宛先は下の「Selected : 」のところで確認できます。<br>
	（画像では「全回」が選択されています。）
</p>
<p class="dev">
	「全回」と「他の回生」を同時に選択したときでも、メールが二重に送信されることはありません。<br>
	この場合は「全回」のみが選択されたと見なして処理を行います。
</p>

<h4 id="4">送信者を選択する（代理送信機能を使う）</h4>
<p>
	件名欄の下にある「From」から、差出人を選ぶことが出来ます。
	<img src="{% static 'img/howto/2-5.png' %}" class="img-thumbnail" width="300"><br>
	<b>通常、はじめからご自身の名前が入力されていて、変更する必要はありません。</b><br>
	ここを別の人に設定するのは、例えば以下のようなケースです。
</p>
<div class="border-left-dotted mt-3 mb-4">
	<h5>例）会長が書いた文章を、忙しい会長に代わって副会長が送信したい時</h5>
	<p class="my-3">
		会長が書いた文章はおそらく次のようなものです。<br>
		「会長の○○です。...」
	</p>
	<p class="my-3">
		このメーリスを副会長が流すとき、通常のメールでは下のように本文の差出人とメールアドレスの差出人が一致しないことになります。
	</p>
	<img src="{% static 'img/howto/2-6.png' %}" width="300">
	<p class="my-3">
		このとき、メールを送信する副会長が「From」に会長を選択することで、
	</p>
	<img src="{% static 'img/howto/2-7.png' %}" width="300">
	<p class="my-3">
		本文の差出人とメールアドレスの差出人を一致させることが出来ます。
	</p>
	<img src="{% static 'img/howto/2-8.png' %}" width="300">
	<p class="my-3">
		この場合、送信ボタンを押し、実際に送信した人は副会長なので、オレンジの部分には副会長の名前が入ります。
	</p>
</div>

<p>
	また、メーリスは一度送信したあとに部分的な修正をすることができます。（後述）<br>
	このとき、「会長」と「副会長」のどちらもメーリスを修正することができます。
</p>

<hr>
<p>
	<a href="{% url 'howto:index' %}" class="mb-5">使い方・トップページ</a>に戻る
</p>
{% endblock %}