{% extends 'base.html' %}
{% load static %}
{% load kansou_list %}

{% block title %}ユーザー情報の設定 | 使い方 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block body %}
<h3 class="mb-3">ユーザー情報の設定</h3>
<section class="">
	<h4 id="1" class="mt-3 mb-4">名前、ニックネームの設定</h4>
	<p>メニューからマイページに移り、<img src="{% static 'img/howto/1-1.png' %}" width="300">この画面にある「登録情報確認・変更」ボタンを押します。</p>
	<p>すると下のような画面が開かれるのでここで名前やニックネームを設定することが出来ます。</p>
	<h4 id="2" class="mt-3 mb-4">受信用メールアドレスの設定</h4>
	<p>
		この「登録情報確認・変更」画面で受信用メールアドレスを設定することが出来ます。<br>
		設定すると、メーリスの受信が以下のように変わります。
	</p>
	<p>
		【受信用メールアドレスを設定していない場合】<br>
		メーリスはログインに使うGmailアカウントに届きます。
	</p>
	<p>
		【受信用メールアドレスを設定した場合】<br>
		メーリスは受信用メールアドレスのみに届くようになります。<br>
		このとき、Gmailアカウントには届かなくなります。ご注意ください。
	</p>
</section>
<hr>
<div class="row mb-5">
	<a href="../send_message/">>> 次： >></a>
</div>

<style type="text/css">
section p img{
	display: block;
}	
</style>
{% endblock %}