@charset "utf-8";

.contentwrapper article{
	background-color: #f3f2f1;
	border-radius: 0.5rem;
	margin: 1rem auto 0.5rem;
	padding: 0.5rem 0.25rem;
	border: 1px solid #d4d0cc;
	max-width: 600px;
}

.articleheader{
	padding: 0 0 0 1rem;
	margin: 0;
	position: relative;
}

.articleheader h4{
	display: inline-block;
    font-weight: 400;
    border-left: 5px solid #adddeb;
    padding-left: 0.5rem;
}

.articleheader span{
	display: inline-block;
	margin-left: 1rem;
}

.youtube{
	position: relative;
	display: block;
}


@media screen and (max-width: 767px) { 
.youtube{
	position: relative;
	width: 100%;
	padding: 56.25% 0 0;
}

.youtube iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	max-width: 560px;
	max-height: 315px;
}

}