{% extends 'base.html' %}
{% load static %}
{% block title %}{{ performance.live_name }} | リハ音源編集 | Unplugged Message{% endblock %}
{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/player/songupload.css' %}">
	<script src="{% static 'js/music_upload.js' %}"></script>
{% endblock %}
{% block body %}
	<h3 class="mb-4">{{ performance.live_name }} - リハ音源編集</h3>
	<form method="post" enctype="multipart/form-data" id="">
		{% csrf_token %}

		<input type="submit" name="UPLOAD">
	</form>
{% endblock %}