{% extends 'base.html' %}
{% load static %}
{% block title %}{{ performance.live_name }} | リハ音源編集 | Unplugged Message{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/player/songedit.css' %}">
    <script src="{% static 'js/music_upload.js' %}"></script>
{% endblock %}
{% block body %}
    <h3 class="mb-4">{{ performance.live_name }} - リハ音源編集</h3>
    <form method="post" enctype="multipart/form-data">
    　　　{% csrf_token %}
        {% for form in formset %}
            <div class="form_row">
            {{ form.non_field_errors }}
                <div class="track_num">{{ form.track_num }}</div>
                <div class="song_name">{{ form.song_name }}</div>
                <div class="file">{{ form.file }}</div>
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            </div>
        {% endfor %}
        {{ formset.management_form }}
        <p class="py-2">
            トラックナンバー、曲名、mp3ファイルを変更できます。<br>
            トラックナンバーは、入力の時に上から「1,3,2」などの順番で入力しても、「1,2,3」のように番号順に並んで表示されます。
        </p>
        <input type="submit" name="UPDATE">
    </form>

{% endblock %}