{% extends 'base.html' %}
{% load static %}

{% block title %}Unplugged Message{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player/index.css' %}">
<script src="{% static 'js/touch-hover.js' %}"></script>
{% endblock %}


{% block body %}
<section class="row">

	<div class="cardwrap col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<article class="card border-info m-2">
			<div class="card-body">
				<h5 class="card-title bg-info　mb-2">新しく音源を追加</h5>
				<p class="text-info">こちらから追加</p>
			</div>
		</article>
	</div>



	<div class="cardwrap col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<article class="card m-2">
			<a href="{% url 'playlist' %}" class="card-body">
				<h5 class="card-title　float-left mb-2">新人ライブリハ#2</h5>
				<h6 class="card-subtitle float-right small">Recorded : 2019/6/7</h6>
				<table class="table table-sm mb-0">
					<tr>
						<td><a href="{% url 'playlist' %}?n=1">1. 君に届け</a></td>
						<td><a href="">2. 君と歩いた季節</a></td>
					</tr>
					<tr>
						<td><a href="">3. 不死鳥</a></td>
						<td><a href="">4. Lemon</a></td>
					</tr>
					<caption class="p-0 small">ほか、全11曲</caption>
				</table>
			</a>
		</article>
	</div>


	<div class="cardwrap col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<article class="card m-2">
			<a href="" class="card-body">
				<h5 class="card-title　float-left mb-2">新人ライブリハ#2</h5>
				<h6 class="card-subtitle float-right small">Recorded : 2019/6/7</h6>
				<table class="table table-sm mb-0">
					<tr>
						<td><a href="">1. 君に届け</a></td>
						<td><a href="">2. 君と歩いた季節</a></td>
					</tr>
					<tr>
						<td><a href="">3. 不死鳥</a></td>
						<td><a href="">4. Lemon</a></td>
					</tr>
					<caption class="p-0 small">ほか、全11曲</caption>
				</table>
			</a>
		</article>
	</div>



	<div class="cardwrap col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<article class="card m-2">
			<a href="playlist/" class="card-body">
				<h5 class="card-title　float-left mb-2">新人ライブリハ#2</h5>
				<h6 class="card-subtitle float-right small">Recorded : 2019/6/7</h6>
				<table class="table table-sm mb-0">
					<tr>
						<td><a href="">1. 君に届け</a></td>
						<td><a href="">2. 君と歩いた季節</a></td>
					</tr>
					<tr>
						<td><a href="">3. 不死鳥</a></td>
						<td><a href="">4. Lemon</a></td>
					</tr>
					<caption class="p-0 small">ほか、全11曲</caption>
				</table>
			</a>
		</article>
	</div>



	<div class="cardwrap col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<article class="card m-2">
			<a href="" class="card-body">
				<h5 class="card-title　float-left mb-2">新人ライブリハ#2</h5>
				<h6 class="card-subtitle float-right small">Recorded : 2019/6/7</h6>
				<table class="table table-sm mb-0">
					<tr>
						<td><a href="">1. 君に届け</a></td>
						<td><a href="">2. 君と歩いた季節</a></td>
					</tr>
					<tr>
						<td><a href="">3. 不死鳥</a></td>
						<td><a href="">4. Lemon</a></td>
					</tr>
					<caption class="p-0 small">ほか、全11曲</caption>
				</table>
			</a>
		</article>
	</div>




</section>



{% endblock %}