{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block title %}リハ音源 | Unplugged Message{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player/index.css' %}">
{% endblock %}


{% block body %}
<h3>リハ音源</h3>
<section class="row">
	{% if is_allowed %}
	<div class="cardwrap col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<article class="card border-info m-2">
			<a href="{% url 'player:upload' %}" class="card-body">
				<h5 class="card-title bg-info　mb-2">新しく音源を追加</h5>
				<p class="text-info">こちらから追加</p>
			</a>
		</article>
	</div>
	{% endif %}

	{% for performance in performances %}
	<div class="cardwrap col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<article class="card m-2">
			<a href="{% url 'player:playlist' performance.pk %}" class="card-body pb-1">
				<h5 class="card-title　float-left mb-2">{{ performance.live_name }}</h5>
				<h6 class="card-subtitle float-right small">Recorded : {{ performance.recorded_at | date:"Y/m/d D" }}
				</h6>
				{% GetSongDetail performance %}
			</a>
			{% if is_allowed %}<a href="{% url 'player:edit' performance.pk %}"
				class="btn btn-outline-warning btn-sm mx-3 mb-2">編集する</a>{% endif %}

		</article>
	</div>
	{% endfor %}





</section>

<script type="text/javascript">
	$('.js-link').on('click', function (e) {
		e.stopPropagation();
		e.preventDefault();
		console.log($(this).data('url'));
		location.href = $(this).data('url');
	})
</script>

{% endblock %}