{% extends 'base.html' %}
{% load static %}

{% block title %}Unplugged Message{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player/playlist.css' %}">

{% endblock %}


{% block body %}
<div class="row"><!-- Live Title -->
	<div class="col-sm-12">
		<a href="{% url 'index' %}" class="float-left col-xs-2" id="return"> </a>
		<h5 class="float-left col-xs-7 ml-2">新人ライブリハ#2</h5>
		<span class="float-right col-xs-3 small">2019/6/7 (金)</span>
	</div>
</div>
<div class="row"><!-- Song Title -->
	<div class="col-sm-12" id="songtitle">
		<h4><span>1.</span>境界の彼方</h4>
	</div>
</div>
<div id="waveloading" class="p-4"><p>下のリストからロードする曲を選択してください</p></div>
<div id="waveform"></div>
<div id="wavetimeline"></div>
<div class="row justify-content-around mt-3" id="ctrl">
	<div class="col-xs-2"><button id="prev"></button></div>
	<div class="col-xs-2"><button id="back"></button></div>
	<div class="col-xs-3"><button id="start" class="getstart"></button></div>
	<div class="col-xs-2"><button id="forward"></button></div>
	<div class="col-xs-2"><button id="next"></button></div>
</div>


<div id="songlist" class="row my-3">
	<div class="col-sm-12  border-bottom py-1" onclick="load('{{media_url}}music/2019/07/15/01_Lemon.mp3','lemon')">
		<span class="songnum  float-left ml-1 mr-2">1.</span>
		<span class="songname float-left ml-0 pl-0">Lemon</span>
		<span class="download float-right mx-2"><a href="{{media_url}}music/2019/07/15/01_Lemon.mp3">　</a></span>
		<span class="songtime float-right mx-2">3:15</span>
	</div>
	<div class="col-sm-12  border-bottom py-1" onclick="load('{{media_url}}music/2019/07/15/02_Viva_la_vida.mp3','Viva la vida')">
		<span class="songnum  float-left ml-1 mr-2">2.</span>
		<span class="songname float-left ml-0 pl-0">Viva_la_vida</span>
		<span class="download float-right mx-2"><a href="{{media_url}}music/2019/07/15/02_Viva_la_vida.mp3">　</a></span>
		<span class="songtime float-right mx-2">3:15</span>
	</div>
	<div class="col-sm-12  border-bottom py-1" onclick="load('{{media_url}}music/2019/07/15/08_境界の彼方kyo.mp3','境界の彼方')">
		<span class="songnum  float-left ml-1 mr-2">3.</span>
		<span class="songname float-left ml-0 pl-0">境界の彼方</span>
		<span class="download float-right mx-2"><a href="{{media_url}}music/2019/07/15/08_境界の彼方kyo.mp3">　</a></span>
		<span class="songtime float-right mx-2">3:15</span>
	</div>

</div>


<script src="https://unpkg.com/wavesurfer.js"></script>
<!-- <script src="{% static 'js/wavesurfer.timeline.js' %}"></script> -->
<script src="{% static 'js/player.js' %}"></script>
{% endblock %}