{% extends 'base.html' %}
{% load static %}
{% block title %}リハ音源登録 | Unplugged Message{% endblock %}
{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/player/songupload.css' %}">
	<script src="{% static 'js/music_upload.js' %}"></script>
{% endblock %}
{% block body %}
	<h3 class="mb-4">リハ音源登録</h3>
	<form method="post" enctype="multipart/form-data" id="">
		{% csrf_token %}
		<div id="CreateRehasalForm" class="mb-4">
			{{ CreateRehasalForm }}
		</div>
		<div id="CreateSongForm" class="mb-4">
			<table>
				{% for SongForm in CreateSongFormSet %}
				<tr>
					<td class="index text-right">{{ forloop.counter }}.</td>
					<td class="name">{{ SongForm.song_name }}</td>
					<td class="file">
						<span class="small">クリックしてファイルを選択・もしくはここにドロップ</span>
						{{ SongForm.song_file }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<input type="submit" name="UPLOAD">
	</form>
{% endblock %}