{% extends 'base.html' %}
{% load static %}

{% block title %}Unplugged Message{% endblock %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/style.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="{% static 'js/meeting_room.js' %}"></script>
{% endblock %}


{% block body %}
	<div id="introduction" class="row center-block">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 text-center pt-3">
			<h1>Unplugged Message</h1><br>
			<p>
				京都大学を中心に活動するアコースティック軽音サークル<br>
				「<a href="https://ku-unplugged.net">京大アンプラグド</a>」の部内連絡管理アプリ
			</p>
			<p class="small border　rounded p-2">
				利用するには事前に登録されたGoogleアカウントか、LiveLogアカウントが必要です。<br>
				くわしくはHP係までご連絡ください。
			</p>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-12 varsion" data-var="2.2.1">Varsion 2.2.1</div>
	</div>
	{% if user.is_authenticated %}
	<div class="row center-block my-2">
		<div class="col-sm-8 my-2" id="newcontents">
			<h4>New Contents</h4>
			<ul>
				{% for content in content_log %}
				<li>
					<span>{{ content.1 }}</span>
					<a href="{{ content.4 }}">{{ content.3 }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-4 my-2 p-2" id="meeting_room">
			<div class="p-2">
				<h4>例会教室</h4>
				<p><span>今日([|[today]|])の例会教室は</span><span>[|[room]|]</span><span>です。</span></p>
			</div>
		</div>
		<div class="col-sm-12 my-3" id="announcement">
			<h4>お知らせ</h4>
			<ul>
				{% for announcement in announcements %}
				<li>
					<span class="date">{{ announcement.created_at|date:"Y/m/d" }}</span>
					<p>{{ announcement.text | linebreaks | urlize }}</p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	{% else %}
	<div class="row center-block mt-3">
		<p class="col-12 text-center">
			ログインはこちらから<br>
			<a href="{% url 'social:begin' 'google-oauth2' %}" id="G-login">
				<img src="{% static 'img/btn_google_signin_light_normal_web@2x.png' %}" width="192" height="46">
			</a>
			<a href="/auth/login/auth0" class="livelogin">
			Log in with <img src="{% static 'img/livelog.png' %}" width="80" height="59"/></a>
		</p>
	</div>	
	<div class="row center-block my-2">
		<div class="col-sm-4 my-2 p-2" id="meeting_room">
			<div class="p-2">
				<h4>例会教室</h4>
				<p><span>今日([|[today]|])の例会教室は</span><span>[|[room]|]</span><span>です。</span></p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		var img = document.createElement('img');
		img.src = "{% static 'img/btn_google_signin_light_focus_web@2x.png' %}";
		$('#G-login').bind('touchstart mouseenter', function(){
			$('#G-login img').attr("src","{% static 'img/btn_google_signin_light_focus_web@2x.png' %}");
		}).bind('touchend mouseleave', function(){
			$('#G-login img').attr("src","{% static 'img/btn_google_signin_light_normal_web@2x.png' %}");
		});
	})
	</script>
	{% endif %}
{% endblock %}