{% extends 'base.html' %}
{% load static %}

{% block title %}Unplugged Message{% endblock %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/style.css' %}">
{% endblock %}


{% block body %}
	<div id="introduction" class="row center-block">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 text-center pt-3">
			<h1>Unplugged Message</h1><br>
			<p>
				京都大学を中心に活動するアコースティック軽音サークル<br>
				「<a href="https://ku-unplugged.net">京大アンプラグド</a>」の部内連絡管理アプリ
			</p>
			<p class="small border　rounded p-2">
				利用するには事前に登録されたGoogleアカウントでのログインが必要です。<br>
				まだ登録をしていないアンプラグダーはHP係を通して登録してください。
			</p>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-12 varsion" data-var="1.1.2">Varsion 1.1.2</div>
	</div>
	{% if user.is_authenticated %}
	<div class="row center-block my-3">
		<div class="col-sm-6">
			<h5>HP係からのおしらせ</h5>
			<article>
				<h6>セットリスト確認用のPDFをアップロードしました</h6>
				<p class="small">
					<a href="{% url 'otherdocs:index' %}">その他資料</a>のページに、セットリスト確認用のPDFをアップロードしました。<br>
					各バンドは本番前にもう一度セットリストを確認してください。<br>
					詳しくはメーリスで。<br>
				</p>
			</article>
		</div>
	</div>
	
	{% else %}
	<div class="row center-block mt-3">
		<p class="col-12 text-center">
			<a href="{% url 'social:begin' 'google-oauth2' %}" id="G-login">
				<span>ログインはこちらから</span>
				<img src="{% static 'img/btn_google_signin_light_normal_web@2x.png' %}" width="192" height="46">
			</a>
		</p>
	</div>
	<script type="text/javascript">
	$(function(){
		var img = document.createElement('img');
		img.src = "{% static 'img/btn_google_signin_light_focus_web@2x.png' %}";
		$('#G-login').bind('touchstart mouseenter', function(){
			$('#G-login img').attr("src","{% static 'img/btn_google_signin_light_focus_web@2x.png' %}");
		}).bind('touchend mouseleave', function(){
			$('#G-login img').attr("src","{% static 'img/btn_google_signin_light_normal_web@2x.png' %}");
		});
	})
	</script>
	{% endif %}
{% endblock %}