{% extends 'base.html' %}
{% load static %}
{% load index_added_tags %}

{% block title %}ライブ映像 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/movie/index.css' %}">
{% endblock %}

{% block body %}
<h3 class="my-1">ライブ映像</h3>
<p class="my-2">
	LiveLogに掲載してないイベントの動画も掲載しています！
</p>
<section class="contentwrapper">
	{% for movie in movies %}
    <article class="row my-4">
        <div class="articleheader">
            <h5>{{ movie.title }}</h5><span>{{ movie.held_at | date:"Y/m/d" }}</span>
        </div>
        {% if movie.listid %}
        <div class="content youtube col-12">
            <iframe width="560" height="315" class="youtube_content" data-src="https://www.youtube.com/embed?listType=playlist&list={{ movie.listid }}&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if movie.textcontent %}
        <div class="text col-12">
            {{ movie.textcontent | linebreaks | urlize | URL_Tag_Property}}
        </div>
        {% endif %}
    </article>
    {% endfor %}
</section>
<script>
function youtube_defer() {
    var iframes = document.querySelectorAll('.youtube_content');
    iframes.forEach(function(iframe){
        if(iframe.getAttribute('data-src')) {
            iframe.setAttribute('src',iframe.getAttribute('data-src'));
        }
    });
}
window.addEventListener('load', youtube_defer);
</script>
{% endblock %}