{% extends 'base.html' %}
{% load static %}

{% block title %}ライブ映像 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/movie/index.css' %}">
{% endblock %}

{% block body %}
<h3 class="my-1">ライブ映像</h3>
<p class="my-2">
	LiveLogに掲載してない
</p>
<section class="contentwrapper">
    <article class="row my-3">
        <div class="articleheader">
            <h5>2017 卒業ライブ</h5><span>2018/3/25</span>
        </div>
        <div class="content youtube col-12">
            <iframe width="560" height="315" src="http://www.youtube.com/embed?listType=playlist&list=PLnef8kmQPUwWNCfOuzbZIOWxCbL0VXbOP" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </article>
    <article class="row my-3">
        <div class="articleheader">
            <h5>九大アンプラグド 夏のオープンマイク</h5><span>2017/08/19</span>
        </div>
        <div class="content col-12">
        	<p class="text">
            @九州大学伊都キャンパス 亭亭舎<br>
			九州大学アコースティックギターサークルunplugged さん主催の九大、福工大、京大、東大のアンプラグドが参加したライブです. 九大アンプラグドの方にアップロードしていただきました. こちらのpdfファイルのリンクからご覧ください.
			</p>
        </div>
    </article>
</section>
{% endblock %}