__pycache__/
*.py[cod]
*$py.class
venv/

db.sqlite3
media/*
private_media/*

u_message/settings_local.py
config/settings_local.py
config/local.py
config/production.py
config/base.env
scripts/senders.py

player/test.mp3
sound/test.mp3

scripts/emails/*
scripts/emails22/*

static/special/*
.vscode/*

front/node_modules/*
node_modules/*
yarn-error.log
static/dist/webpack-stats.json

credentials.json
token.pickle

log/*

.env
