__pycache__/
*.py[cod]
*$py.class

db.sqlite3
media/*
private_media/*

u_message/settings_local.py
config/settings_local.py
config/local.py
config/production.py
config/base.env
scripts/senders.py

player/test.mp3

scripts/emails/*
scripts/emails22/*

static/special/*
.vscode/*

node_modules/*
yarn-error.log