@charset "utf-8";
/* 表内セルの高さ・ボーダー指定 */
#calendar .date, #calendar .room, #calendar .time{
  border-top: 1px solid #eee;
}
#calendar .time:last-child{
  border-bottom: 1px solid #eee;
}
#calendar .date{
  height: 3.5rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 12px;
  padding: 0.25rem auto;
}
#calendar .date.sunday{
  background-color: #ffc6c6;
}
#calendar .date.saturday{
  background-color: rgb(170, 231, 255);
}
#calendar .room{
  font-size: 10px;
  text-align: center;
  padding: 5px 0;
  line-height: 15px;
  height: 26px;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}
#calendar .time{
  height: 20px;
}
