{% extends 'base.html' %}
{% load static %}
{% load kansou_list %}

{% block title %}感想用紙 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block body %}
<h3>感想用紙</h3>
{% if kansou_allowed %}
<a href="{% url 'kansou_upload' %}" class="btn btn-warning m-2">感想用紙をアップロードする</a>
{% endif %}
<p class="py-2">
	ライブごとの感想用紙をPDF形式でアップしています。<br>
	ファイルサイズが大きいものもありますのでご注意下さい。
</p>

<section>
	{% for year in exist_years %}
	<h4>{{year}}年度</h4>
	<div class="list-group list-group-flush mb-3">
		{% GetKansouList year %}
	</div>
	{% endfor %}
</section>

{% endblock %}