{% extends 'base.html' %}
{% load static %}
{% load kansou_list %}

{% block title %}感想用紙 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block body %}
<h3>感想用紙</h3>
{% if kansou_allowed %}
<a href="{% url 'kansou_upload' %}" class="btn btn-warning m-2">感想用紙をアップロードする</a>
{% endif %}
<p class="py-2">
	ライブごとの感想用紙をPDF形式でアップしています。<br>
	ファイルサイズが大きいものもありますのでご注意下さい。
</p>

<section>
<!-- 	<h4>2018年度</h4>
	<div class="list-group list-group-flush mb-3">
		<a href="" class="list-group-item list-group-item-action p-2"><h6 class="d-inline-block text-primary m-0">新人ライブ_2　(12.3MB)</h6><span class="small m-2 p-1 pl-2 text-dark">2018/05/05 (月)</span><br>
		<span class="small m-0 pl-2 text-dark">1回生の分です</span></a>
		<a href="" class="list-group-item list-group-item-action p-2"><h6 class="d-inline-block text-primary m-0">新人ライブ_2　(12.3MB)</h6><span class="small m-2 p-1 pl-2 text-dark">2018/05/05 (月)</span><br>
		<span class="small m-0 pl-2 text-dark">1回生の分です</span></a>
	</div> -->
	{% for year in exist_years %}
	<h4>{{year}}年度</h4>
	<div class="list-group list-group-flush mb-3">
		{% GetKansouList year %}
	</div>
	{% endfor %}
</section>

{% endblock %}