{% extends "base.html" %}
{% block main %}


<h2 class="fw-bold text-primary mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-cog"><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m3.2 12.9-.9-.4"/><path d="m3.2 15.1-.9.4"/><path d="M4.677 21.5a2 2 0 0 0 1.313.5H18a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v2.5"/><path d="m4.9 11.2-.4-.9"/><path d="m4.9 16.8-.4.9"/><path d="m7.5 10.3-.4.9"/><path d="m7.5 17.7-.4-.9"/><path d="m9.7 12.5-.9.4"/><path d="m9.7 15.5-.9-.4"/><circle cx="6" cy="14" r="3"/></svg>
    編集 - その他資料
</h2>
<div class="container my-4">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
      <div class="mb-1">
        <span>現在：<a href="{% url 'others:file_download' file.pk %}">{{ form.instance.filename }}</a></span>
      </div>
      <div>
        <span>変更：</span>
        {{ form.file_input }}
      </div>
    </div>
    <div class="mb-3">
      <label for="{{ form.filename.id_for_label }}" class="form-label">{{ form.filename.label }}</label>
      <div class="d-flex">
        {{ form.filename }}
        <span class="align-self-center ms-2">{{ form.file_ext }}</span>
      </div>
    </div>
    <div class="mb-3 form-check">
      {{ form.delete }} {{ form.delete.label_tag }}
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
  </form>
    <a href="{% url 'others:file_list' %}" class="btn btn-secondary mt-3">戻る</a>
</div>
{% endblock main %}