{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container text-white">
    <div class=" logo-wrapper">
        <img id="logo" class="w-100" src="{% static 'img/zoomail.png' %}" alt="zoomail" />
    </div>
    <p class="text-center my-4">
        <span>京都大学を中心に活動する</span><span>アコースティック軽音サークル</span><br />
        <span>「<a href="https://ku-unplugged.net" target="_blank" class="text-white">京大アンプラグド</a>」</span><span>の部内連絡管理アプリ</span>
    </p>
    <div class="my-5 text-center">
        <button id="login-button" class="btn btn-outline-light text-uppercase px-4 py-2">
            log in
        </button>
    </div>

</div>
<style>
    body div.wrapper {

        background-image: linear-gradient(rgba(56, 100, 113, 0.8),
                rgba(56, 100, 113, 0.8)),
            url("/static/img/LP-BG.jpeg") !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    main p {
        text-shadow: 0 0 0.25rem var(--bs-gray);

        >* {
            display: inline-block;
        }
    }

    header,
    main,
    footer,
    .message-wrapper,
    .main-wrapper {
        background-color: transparent !important;
    }

    .logo-wrapper {
        display: block;
        max-width: 400px;
        margin: 1rem auto;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        if (window.location.search.includes("login")) {
            document.getElementById("nav-toggle").checked = true;
        }
    });
    document.addEventListener("click", (e) => {
        if (e.target.id === "login-button") {
            document.getElementById("nav-toggle").checked = true;
        }
    });
</script>
{% endblock %}

{% block nav %}
<div class="container mx-auto text-center border-top border-white pt-5">
    <h2 class="text-uppercase my-5">Log in</h2>
    <div class="d-flex justify-content-center align-items-center flex-wrap mb-4">
        <a href="{% url 'social:begin' 'livelog' %}" class="livelogin">
            <span>Log in with</span><img src="{% static 'img/livelog.png' %}" width="80" height="59" alt="LiveLog" />
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}" id="G-login" alt="Sign in with Google">
            Sign in with Google
        </a>
    </div>

    <p class="fs-sm">
        Googleアカウントでログインするには事前の登録が必要です。<br />
        詳しくはHP係までご連絡ください。
    </p>

</div>
<style>
    a#G-login {
        display: inline-block;
        color: transparent;
        text-decoration: none;
        background-image: url("{% static 'img/btn_google_signin_light_normal_web@2x.png' %}");
        background-size: 192px 46px;
        background-color: transparent;
        box-sizing: content-box;
        height: 46px;
        width: 192px;
        margin: 1rem;
        flex-shrink: 0;
        font-size: 0;
        border: transparent 2px solid;
        border-radius: 2px;
    }

    a#G-login:hover {
        text-decoration: none;
        background-image: url("{% static 'img/btn_google_signin_light_focus_web@2x.png' %}");
        border: var(--bs-white) 2px solid;
    }

    a.livelogin {
        display: inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        width: 192px;
        height: 64px;
        border-radius: 4px;
        color: #666 !important;
        margin: 0 0.5rem;
        padding: 0 6px;
        border: transparent 4px solid;
        text-decoration: none;
        flex-shrink: 0;
        background-color: #fcf8e3;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    a.livelogin:hover {
        text-decoration: underline;
        border: var(--bs-white) 4px solid;
    }

    a.livelogin span {
        display: inline-block;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    a.livelogin img {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
</style>
{% endblock %}