@charset "utf-8";

div.form_row{
	display: flex;
	padding: 0.25rem 0;
	border-top: 1px solid #aaa;
}


div.track_num{
	flex-grow: 0;
	flex-shrink: 0;
}
div.track_num input{
	width: 3rem;
}
div.song_name{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 16rem;
	padding-right: 1rem;
}
div.song_name input{
	width: 100%;
}

div.track_num,
div.song_name{
	padding-top: calc((64px - 2rem) / 2);
	padding-bottom: calc((64px - 2rem) / 2);

}
div.track_num input,
div.song_name input{
	height: 2rem;
	border: none;
	background-color: #f0f0f0;
}

div.file{
	flex-grow: 1;
	flex-shrink: 0;
	height: 64px;
}
div.file a,
div.file input{
	display: inline-block;
	width: calc(100% - 5rem);
	overflow-x: hidden;

}