{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}} | Unplugged Message{% endblock %}
{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/read/send.css' %}">
{% endblock %}
{% block body %}
	<h1>Send a Message</h1>
	<form method="post">
		{% csrf_token %}
		<p><label>件名</label>{{ form.title }}</p>
		<p><label>宛先</label>{{ form.to }}</p>
		<p><label>本文</label>{{ form.content }}</p>
		

		<input type="submit" name="SEND">
	</form>
	
	
{% endblock %}