{% extends 'base.html' %}
{% load static %}

{% block title %}アルバム登録 | Unplugged Message{% endblock %}



{% block body %}

<h3>アルバム登録</h3>
	<section id="form_upload" class="my-3">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
				{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
				<p class="small text-danger pl-2">{{ field.errors.as_text }}</p>
				{% endif %}
			</div>
			{% endfor %}

			<input type="submit" name="search" value="登録" class="btn btn-info mx-2 my-3">
		</form>
	</section>
<p class="small">
	サムネイルの画像が選択されていないときは<a href='/static/img/album_thum_default.jpg'>デフォルトの画像</a>が表示されます。<br>
	また、サムネイルの画像をアップロードすると、自動で圧縮されます。<br>
	管理者ページから登録すると圧縮のコードは回避されますが、<br>
	その場合は自分である程度ファイルのサイズを小さくして(400×600px程度)登録してください。<br>

</p>
	
{% endblock %}