@charset "utf-8";

div#introduction{
	background-color: #d6eef5;
	margin-top: 20px;
}

div#introduction h1{
	font-weight: 400;
}

a#G-login{
	color: #000;
	text-decoration: none;
}
a#G-login.hover{
	text-decoration: underline;
}

.varsion{
	background-color: #d6eef5;
	position: relative;
	display: block;
	font-size: 0.75rem;
	text-align: right;
	margin-top: 0;
	padding-bottom: 0.5rem;
}