:root {
    --header-height-sm: 48px;
    --header-height-md: 60px;
}

body {
    margin: 0;
    font-family: "BIZ UDPGothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.message-wrapper {
    background-color: var(--bs-white);
}

main {
    min-height: 100%;
    flex: 1;
    background-color: var(--bs-white);
    border-radius: 0;
}

main h2 {
    font-weight: bold;
    line-height: 32px;
}

/* ヘッダーの高さ設定 */
header {
    height: var(--header-height-sm);
    display: flex;
    align-items: center;
}

/* Kiwi Maru をヘッダーのh1に適用 */
header h1 {
    font-family: "Kiwi Maru", serif;
    font-weight: bold;
}

footer p {
    font-size: .75rem;
}

@media (min-width: 576px) {
    header {
        height: var(--header-height-md);
    }

    main {
        border-radius: .55rem;
        box-shadow: var(--bs-box-shadow-sm);
    }

    .message-wrapper {
        background-color: transparent;
    }
}