* {
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea,
.pure-g,
[class *="pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Kiwi Maru', serif, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pure-g {
    letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

input#nav_open {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 3rem;
}

main {
    flex: 1;
    background-color: var(--bg-content);
    color: var(--text-content);
    position: relative;
}

main nav {
    transition: visibility 0.5s, opacity 0.5s;
}

input#nav_open:not(:checked)~main nav {
    visibility: hidden;
    display: hidden;
    opacity: 0;
}

input#nav_open:checked~main nav {
    visibility: visible;
    display: block;
    opacity: 1;
}

footer {
    height: 1.5rem;
}

/* レスポンシブな横幅の定義 */
.container {
    position: relative;
    width: 100%;
    padding: 0 1rem;

    @media screen and (min-width: 35.5em) {
        padding: 0 10%;
    }

    @media screen and (min-width: 48em) {
        padding: 0 12%;
    }

    @media screen and (min-width: 64em) {
        padding: 0 18%;
    }

    @media screen and (min-width: 80em) {
        padding: 0 20%;
    }
}

/* リンクのスタイル定義 */
a,
a:active,
a:focus {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    outline: none;

    &:hover {
        text-decoration: underline;
    }
}

/* color定義 */
:root {
    --bg-primary: rgba(56, 100, 113, 1);
    --bg-primary-transparent: rgba(56, 100, 113, 0.8);
    --bg-content: hsl(193, 31%, 80%);
    --bg-white: #F2F2F8;
    --bg-dark: #D8DFDF;
    --text-content: hsl(193, 31%, 7%);
    --text-dark: #525252;
    --text-light: #F2F2F8;
}

/* アイコンのスタイル定義 */
.icon {
    display: inline-block;
    vertical-align: middle;
    aspect-ratio: 1;
}