{% extends 'base.html' %}
{% load static %}

{% block title %}Unplugged Message{% endblock %}



{% block body %}
<h2>Login</h2>
	<p>
		<a href="{% url 'social:begin' 'google-oauth2' %}">
		<img src="{% static 'img/btn_google_signin_light_normal_web@2x.png' %}" width="192" height="46" id="G-login"></a>
	</p>
	

<script type="text/javascript">
$(function(){
	var img = document.createElement('img');
	img.src = "{% static 'img/btn_google_signin_light_focus_web@2x.png' %}";
	$('#G-login').bind('touchstart mouseenter', function(){
	    $(this).attr("src","{% static 'img/btn_google_signin_light_focus_web@2x.png' %}");
	}).bind('touchend mouseleave', function(){
	    $(this).attr("src","{% static 'img/btn_google_signin_light_normal_web@2x.png' %}");
	});
})
</script>
{% endblock %}