{% extends 'base.html' %}
{% load static %}

{% block title %}Login | Unplugged Message{% endblock %}



{% block body %}
<h2>Login</h2>
	<p class="my-3">
		ログインするには事前にこのアプリに登録されたGoogleアカウントが必要です。<br>
		まだ登録していない人は、ログインに使うGoogleアカウントを決めて、<br>
		ホームページ係を通して登録してください。
	</p>
	<p>
		<a href="{% url 'social:begin' 'google-oauth2' %}{% if next %}?next={{ next }}{% endif %}">
		<img src="{% static 'img/btn_google_signin_light_normal_web@2x.png' %}" width="192" height="46" id="G-login"></a>
	</p>
	<p>
		<a href="/auth/login/auth0">LiveLog Login</a>
	</p>

<script type="text/javascript">
$(function(){
	var img = document.createElement('img');
	img.src = "{% static 'img/btn_google_signin_light_focus_web@2x.png' %}";
	$('#G-login').bind('touchstart mouseenter', function(){
	    $(this).attr("src","{% static 'img/btn_google_signin_light_focus_web@2x.png' %}");
	}).bind('touchend mouseleave', function(){
	    $(this).attr("src","{% static 'img/btn_google_signin_light_normal_web@2x.png' %}");
	});
})
</script>
{% endblock %}