{% extends 'base.html' %}
{% load static %}

{% block title %}オーディション特設ページ | Unplugged Message{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player/playlist.css' %}">

{% endblock %}


{% block body %}


<div class="row border-bottom pb-1 mb-2">
	<div class="col-sm-12">
		<h5 class="float-left col-xs-7 ml-2">オーディション特設ページ</h5>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" id="songtitle">
		<h4><span>0.</span>no music file selected</h4>
	</div>
</div>
<div id="waveloading" class="p-4">
	<span id="loadtext">下のリストでロードする曲をクリックしてください</span>
	<span id="loadprogress"></span>
</div>
<div id="timedisplay">
	<span id="currenttime">0:00</span> / 
	<span id="totaltime">0:00</span>
</div>
<div id="waveform"></div>
<div class="row justify-content-around mt-3" id="ctrl">
	<div class="col-xs-2"><button id="prev"></button></div>
	<div class="col-xs-2"><button id="back"></button></div>
	<div class="col-xs-3"><button id="start" class="getstart"></button></div>
	<div class="col-xs-2"><button id="forward"></button></div>
	<div class="col-xs-2"><button id="next"></button></div>
</div>


<div id="songlist" class="row my-3">
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{% static 'special/audition/A_pw9Tcw8J.mp3' %}','1','A')" data-track="1" data-url="{% static 'special/audition/A_pw9Tcw8J.mp3' %}" data-name="A">
		<span class="songnum float-left ml-1 mr-2">1.</span>
		<span class="songname float-left ml-0 pl-0">A</span>
		<span class="download float-right mx-2"><a href="{% static 'special/audition/A_pw9Tcw8J.mp3' %}">　</a></span>
	</div>
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{% static 'special/audition/B_33MM3anY.mp3' %}','1','B')" data-track="1" data-url="{% static 'special/audition/B_33MM3anY.mp3' %}" data-name="B">
		<span class="songnum float-left ml-1 mr-2">2.</span>
		<span class="songname float-left ml-0 pl-0">B</span>
		<span class="download float-right mx-2"><a href="{% static 'special/audition/B_33MM3anY.mp3' %}">　</a></span>
	</div>
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{% static 'special/audition/C_NDzD83Cp.mp3' %}','3','C')" data-track="3" data-url="{% static 'special/audition/C_NDzD83Cp.mp3' %}" data-name="C">
		<span class="songnum float-left ml-1 mr-2">3.</span>
		<span class="songname float-left ml-0 pl-0">C</span>
		<span class="download float-right mx-2"><a href="{% static 'special/audition/C_NDzD83Cp.mp3' %}">　</a></span>
	</div>
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{% static 'special/audition/D_RVvRr54H.mp3' %}','4','D')" data-track="4" data-url="{% static 'special/audition/D_RVvRr54H.mp3' %}" data-name="D">
		<span class="songnum float-left ml-1 mr-2">4.</span>
		<span class="songname float-left ml-0 pl-0">D</span>
		<span class="download float-right mx-2"><a href="{% static 'special/audition/D_RVvRr54H.mp3' %}">　</a></span>
	</div>
</div>
<p>
	ブラウザ内で聞くことができない場合はダウンロードボタンからmp3ファイルをダウンロードして聞いてください。<br>
	それでも聞くことができない場合は<a href="https://drive.google.com/open?id=11BikcWFHpQVfr9IwE-awGNumsKadmoD5">こちらへ(Google Drive)</a>
</p>
<p>
	<span class="small">以下、メーリスの転載です。</span>
</p>
<p>
	<h6>【投票前の注意】</h6>
	<ul>
		<li>オーディションを受けた4バンドのうち、投票によって選出された3バンドがNFステージに出演することができます。</li>
		<li>全回の会員に1人3票の投票権があります。1バンドに複数票入れることはできません。また、オーディションを受けるバンドのメンバー、選管委員（2回亀田・浦田）には選挙権はありません。</li>
		<li>4バンドの音源にA〜Dの記号をランダムにふり、投票にはこの記号のみを使います。</li>
		<li>選管委員は音源は聞きません。また、上記の投票方法により、どの記号がどのバンドの音源にあたるか知りえません。</li>
		<li>二重投票を防ぐため、氏名を明記していただきます。ご協力よろしくお願いします。</li>
	</ul>
</p>
<p>
	<h6>【投票方法】</h6>
	①下記のURL「オーディション特設ページ」から音源を聞いてください。
	<ul>
		<li>4バンドすべての音源を聞いてください。</li>
		<li>音源は何回聞いても構いません。<br>（このページなのでURLは省略します）</li>
	</ul>

	②下記の回答フォームから投票を行ってください。
	<ul>
		<li>フォーム内の説明をよく読んで投票してください。<br>
			<a href="https://docs.google.com/forms/d/1mw5JqecAG6vMdHJBZCyt_V-HSjgMH3Vs7tgQJIC6Bdg/edit">Googleフォームへ</a>
		</li>
	</ul>
</p>
<p>
	<h6>【期間】</h6>
	11/6(水)21:00〜11/7(木)24:00<br>
	※27時間です。
</p>
<p>
	<h6>【結果発表】</h6>
	11/8(金)全回メーリスにてお伝えします。
</p>
<p>積極的な投票をよろしくお願いします！</p>




<script src="{% static 'js/wavesurfer.min.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>


{% endblock %}