{% extends 'base.html' %}
{% load static %}

{% block title %}オーディション特設ページ | Unplugged Message{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player/playlist.css' %}">

{% endblock %}


{% block body %}


<div class="row border-bottom pb-1 mb-2">
	<div class="col-sm-12">
		<h5 class="float-left col-xs-7 ml-2">オーディション特設ページ</h5>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" id="songtitle">
		<h4><span>0.</span>no music file selected</h4>
	</div>
</div>
<div id="waveloading" class="p-4">
	<span id="loadtext">下のリストでロードする曲をクリックしてください</span>
	<span id="loadprogress"></span>
</div>
<div id="timedisplay">
	<span id="currenttime">0:00</span> / 
	<span id="totaltime">0:00</span>
</div>
<div id="waveform"></div>
<div class="row justify-content-around mt-3" id="ctrl">
	<div class="col-xs-2"><button id="prev"></button></div>
	<div class="col-xs-2"><button id="back"></button></div>
	<div class="col-xs-3"><button id="start" class="getstart"></button></div>
	<div class="col-xs-2"><button id="forward"></button></div>
	<div class="col-xs-2"><button id="next"></button></div>
</div>


<div id="songlist" class="row my-3">
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{{Song.file.url}}','1','1曲目')" data-track="1" data-url="{{Song.file.url}}" data-name="1">
		<span class="songnum float-left ml-1 mr-2">1.</span>
		<span class="songname float-left ml-0 pl-0">1曲目</span>
		<span class="download float-right mx-2"><a href="">　</a></span>
	</div>
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{{Song.file.url}}','1','2曲目')" data-track="1" data-url="{{Song.file.url}}" data-name="2">
		<span class="songnum float-left ml-1 mr-2">2.</span>
		<span class="songname float-left ml-0 pl-0">2曲目</span>
		<span class="download float-right mx-2"><a href="">　</a></span>
	</div>
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{{Song.file.url}}','3','3曲目')" data-track="3" data-url="{{Song.file.url}}" data-name="3">
		<span class="songnum float-left ml-1 mr-2">2.</span>
		<span class="songname float-left ml-0 pl-0">3曲目</span>
		<span class="download float-right mx-2"><a href="">　</a></span>
	</div>
	<div class="songselect col-sm-12  border-bottom py-1" onclick="load('{{Song.file.url}}','4','4曲目')" data-track="4" data-url="{{Song.file.url}}" data-name="4">
		<span class="songnum float-left ml-1 mr-2">4.</span>
		<span class="songname float-left ml-0 pl-0">4曲目</span>
		<span class="download float-right mx-2"><a href="">　</a></span>
	</div>


</div>


<script src="{% static 'js/wavesurfer.min.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>


{% endblock %}