section{
	margin: 1rem 0;
}
#calendar_menu{
	display: block;
	position: relative;
	margin: 0.5rem 0;
}

#calendar_table{
    display: -webkit-flex;
    display: flex;
}
#calendar_table *{
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#calendar_table .column{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#calendar_table #leftside{
    -webkit-flex-basis: 50px;
    flex-basis: 50px;
	font-size: 10px;
}
#calendar_table #leftside div{
	border-left: 1px solid #eee;
	padding: 0 5px;
}
#calendar_table #leftside div.room{
	padding: 5px 0;
}
#calendar_table .day{
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
#calendar_table .column div{
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
#calendar_table .column div:first-child{
	height: 3.5rem;
	text-align: center;
	line-height: 1.5rem;
	font-size: 12px;
	padding: 5px 0;
	padding: 0.25rem auto;
	border-top: 1px solid #eee;
}

#calendar_table .column div.room{
	font-size: 10px;
	text-align: center;
	padding: 5px 0;
	line-height: 15px;
	height: 26px;
}
#calendar_table .column div.time{
	height: 1rem;
}
#calendar_table .column div.time[data-time$=".0"]{
	border-bottom: none;
}