#id_days_begin_year,
#id_days_end_year{
	width: 90px;
	margin-left: 1rem;
}
#id_days_begin_month,
#id_days_end_month{
	width: 90px;
}
#id_days_begin_day,
#id_days_end_day{
	width: 90px;
}

#id_year_choice{
	width: 90px;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}
#id_invite_user{
	width: 150px;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}