{% extends 'base.html' %}
{% load static %}

{% block title %}あわせのあわせ | UnpluggedMessage{% endblock %}

{% block extrastyle %}

<link rel="stylesheet" type="text/css" href="{% static 'css/awase/calendar.css' %}">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="{% static 'js/calendar_display.js' %}"></script>
<script src="{% static 'js/calendar-touch-hover.js' %}"></script>
{% endblock %}

{% block body %}
<h3 class="my-1">{{calendar.title}}</h3>

<section id="calendar">
    <div id="calendar_menu" class="row mx-0 my-2 clearfix">
        <div id="menu_days" class="float-left">
            <button v-on:click="change_display_days(-1)"><img src="{% static 'img/awase/red.png' %}" height="24" alt="列を減らす">列を減らす</button>
            <button v-on:click="change_display_days(1)"><img src="{% static 'img/awase/add.png' %}" height="24" alt="列を増やす">列を増やす</button>
        </div>
        <div id="menu_move" class="float-right">
            <button v-on:click="move(-day_display_max_num)"><img src="{% static 'img/awase/1w_bk.png' %}" height="24" :alt="day_display_max_num">[|[day_display_max_num]|]日戻る</button>
            <button v-on:click="move(-1)"><img src="{% static 'img/awase/1d_bk.png' %}" height="24" alt="1日戻る">1日戻る</button>
            <button v-on:click="move(1)"><img src="{% static 'img/awase/1d_fw.png' %}" height="24" alt="1日進む">1日進む</button>
            <button v-on:click="move(day_display_max_num)"><img src="{% static 'img/awase/1w_fw.png' %}" height="24" :alt="day_display_max_num">[|[day_display_max_num]|]日進む</button>
        </div>
    </div>
    <div id="calendar_table">
        <div id="leftside" class="column">
            <div> </div>
            <div class="room">例会</div>
            {% for time in timetuple %}
            <div class="time" data-time="{{time}}.0">{{time}}:00</div>
            <div class="time" data-time="{{time}}.5"></div>
            {% endfor %}
        </div>
        <div class="day column" v-for="day in days" v-bind:date="day.date">
            <div class="date">[|[day.display_date]|]<br>[|[day.display_day]|]</div>
            <div class="room">[|[day.room]|]</div>
            <div class="time" v-for="(NGnum, key) in day.NGlist" v-bind:class="NGnum"></div>
        </div>
    </div>
</section>

<style type="text/css">
.NG0{
    background-color: #99ffcc;
}

.NG1{
    background-color: #ffff84;
}

.NG2{
    background-color: #ff9999;
}
.NG3{
    background-color: #444;
}
</style>
<section id="menu">
    <a href="input/">入力する</a>
    <a href="">調節期間を変更</a>
</section>

<script type="text/javascript">
const jsonURL = "{% url 'awase:calendar_json' calendar.pk %}";
</script>

{% endblock %}