{% extends 'base.html' %}
{% load static %}

{% block title %}あわせのあわせ | UnpluggedMessage{% endblock %}

{% block extrastyle %}

<link rel="stylesheet" type="text/css" href="{% static 'css/awase/calendar.css' %}">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="{% static 'js/calendar_meetingroom.js' %}"></script>
<script src="{% static 'js/calendar_display.js' %}"></script>
{% endblock %}

{% block body %}
<h3 class="my-1">あわせのあわせ</h3>

<section id="calendar">
    <div id="leftside" class="column">
        <div> </div>
        <div class="room">例会</div>
        {% for time in timetuple %}
        <div class="time" data-time="{{time}}.0">{{time}}:00</div>
        <div class="time" data-time="{{time}}.5"></div>
        {% endfor %}
    </div>
    {% for date in datetuple %}
    <div class="day column" data-date="{{date| date:'Y-m-d'}}">
        <div class="date">{{date | date:"n/j"}}<br>{{date | date:"D"}}</div>
        <room date="{{date | date:'Y-m-d'}}"><div class="room">Loading</div></room>
        {% for time in timetuple %}
        <timedata v-bind:data-NGnum="jsondata.{{date | date:'Y-m-d'}}.{{time}}:00"><div class="time"></div></timedata>
        <timedata v-bind:data-NGnum="jsondata.{{date | date:'Y-m-d'}}.{{time}}:30"><div class="time"></div></timedata>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<style type="text/css">
.NG0{
    background-color: #99ffcc;
}

.NG1{
    background-color: #ffff84;
}

.NG2{
    background-color: #ff9999;
}
.NG3{
    background-color: #444;
}
</style>
<section id="menu">
    <a href="input/">入力する</a>
    <a href="">調節期間を変更</a>
</section>

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', calendar_display("{% url 'awase:calendar_json' calendar.pk %}"));
</script>

{% endblock %}