{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}日程調整を作成 | Unplugged Message{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/awase/create.css' %}">
{% endblock %}


{% block body %}
<h3>日程調整を作成</h3>

<section id="form_upload" class="my-3">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in CreateForm %}
		<div class="form-group row mx-0">
			{{ field.label_tag }}
			{{ field }}
			{% if field.errors %}
			<p class="small text-danger pl-2">{{ field.errors.as_text }}</p>
			{% endif %}
		</div>
		{% endfor %}

		<h6 class="mt-4">招待するユーザーを選択してください</h6>
		<div class="form-group row mx-0">
			{{ InviteForm.year_choice }}
			{{ InviteForm.invite_user }}
			<button class="btn btn-primary py-1 mb-2">追加</button>
		</div>
		<div id="invited_user">
			
		</div>


		<input type="submit" name="search" value="登録" class="btn btn-info mx-2 my-3">
	</form>
</section>




</section>


{% endblock %}