{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}日程調整を作成 | Unplugged Message{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/awase/create.css' %}">
    <script src='https://unpkg.com/v-calendar'></script>
{% endblock %}


{% block body %}
<h3>日程調整を作成</h3>

<section id="form_upload" class="my-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row mx-0">
            {{ CreateForm.title.label_tag }}
            {{ CreateForm.title }}
            {% if CreateForm.title.errors %}
            <p class="small text-danger pl-2">{{ CreateForm.title.errors.as_text }}</p>
            {% endif %}
        </div>
        <div class="form-group row mx-0">
            {{ CreateForm.text.label_tag }}
            {{ CreateForm.text }}
            {% if CreateForm.text.errors %}
            <p class="small text-danger pl-2">{{ CreateForm.text.errors.as_text }}</p>
            {% endif %}
        </div>
        <div class="form-group row mx-0">
            {{ CreateForm.days_begin.label_tag }}
            {{ CreateForm.days_begin }}
            {% if CreateForm.days_begin.errors %}
            <p class="small text-danger pl-2">{{ CreateForm.days_begin.errors.as_text }}</p>
            {% endif %}
        </div>
        <div class="form-group row mx-0">
            {{ CreateForm.days_end.label_tag }}
            {{ CreateForm.days_end }}
            {% if CreateForm.days_end.errors %}
            <p class="small text-danger pl-2">{{ CreateForm.days_end.errors.as_text }}</p>
            {% endif %}
        </div>

        <div class="form-group row mx-0">
            <v-date-picker mode='range' v-model='selectedDate' />
        </div>
        
        {% for non_field_error in CreateForm.non_field_errors %}
        <p class="small text-danger pl-2">{{ non_field_error }}</p>
        {% endfor %}

        <input type="submit" value="登録" class="btn btn-info mx-2 my-3">
    </form>
    <p class="small text-secondary">
    	集計できる期間は現在のところ、最大で120日間です。<br>
    </p>
</section>

<script src="{% static 'js/awase/create.js' %}"></script>
{% endblock %}