{% extends 'base.html' %}
{% load static %}

{% block title %}あわせのあわせ | UnpluggedMessage{% endblock %}

{% block extrastyle %}

<link rel="stylesheet" type="text/css" href="{% static 'css/awase/calendar.css' %}">
{% endblock %}

{% block body %}
<h3 class="my-1">あわせのあわせ</h3>

<section id="calendar">
	<div class="date">
		<div class="leftside"> </div>
		<div>10/10<br>(月)</div>
		<div>10/11<br>(火)</div>
		<div>10/12<br>(水)</div>
		<div>10/13<br>(木)</div>
		<div>10/14<br>(金)</div>
		<div>10/15<br>(土)</div>
		<div>10/16<br>(日)</div>
	</div>
	<div class="room">
		<div class="leftside">例会教室</div>
		<div>4共21</div>
		<div>4共31</div>
		<div>使用不可</div>
		<div>4共21</div>
		<div>4共21</div>
		<div>4共21</div>
		<div>4共31</div>
	</div>
	{% for time in display_time %}
	<div class="time zero {{time}}">
		<div class="leftside">{{time}}:00</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="time half {{time}}">
		<div class="leftside"></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	{% endfor %}
</section>

{% endblock %}