{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}{{ calendar.title }} に回答 | Unplugged Message{% endblock %}
{% block extrastyle %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='https://unpkg.com/v-calendar'></script>
{% endblock %}


{% block body %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a> に回答</h3>


<section id="app" class="row my-3 border-top">
<template v-if="jsonLoaded">
<nav id="input-nav" :class="{'active': isMenuOpen}" class="pt-3">
    <div id="calendar-wrap">
        <h5 class="px-3">日付を選択</h5>
        <v-calendar
        :first-day-of-week="2"
        is-expanded
        >
            <template slot='header-title' slot-scope='props'>
                [[props.yearLabel]]年[[props.monthLabel]]
            </template>
            <template slot='day-content' slot-scope='props'>
                <custom-day-content
                    :day="props.day"
                    :data="timeRangeData[dateToYYYYMMDD(props.day.date)]"
                    :is-selected="dateToYYYYMMDD(props.day.date) == selectedDate"
                    @dayadd="dayadd"
                    ></custom-day-content>
            </template>
        </v-calendar>
    </div>
</nav>
<button @click="isMenuOpen = !isMenuOpen" id="menu-switch" :class="{'active': isMenuOpen}">メニュー</button>
<form id="input-form" class="pt-3">
    <h5 class="ml-5">[[YYYYMMDDToTitle]]</h5>
    <input-forms
        v-if="isActiveDay"
        :date="selectedDate"
        :data="selectedDateScheduleData"
        :start="timeRangeData[selectedDate].start"
        :end="timeRangeData[selectedDate].end"
        @value-change="onValueChange"></input-forms>
    <p v-else>
        この日にちの集計はおこなわれていません。
    </p>
</form>
</template>
<p v-else>
    Loading...
</p>
</section>

<script type="text/javascript">
const jsonURL = "{% url 'awase:hours_update_json' calendar.pk %}";

Vue.component('custom-day-content', {
    props: {
        day: {type: Object, required: true},
        data: {type: Object, required: false, default: () => {return{start: '', end: ''}},},
        isSelected: {type: Boolean, required: false}
    },
    delimiters: ['[[', ']]'],
    template: `<div
                  class="ceil text-center pt-1 pb-2"
                  @click="onclick"
                  :class="{active: isActive, selected: isSelected}"
                >
                   <h6 class="m-0 p-0" :style="addStyleTextColor(day.weekday)">[[day.day]]</h6>
                   <span class="small">[[displayHour]]</span>
               </div>`,
    methods: {
        onclick: function(){
            this.$emit('dayadd', this.day);
        },
        addStyleTextColor: function(weekday) {
            if (weekday === 1) {
                return {
                    color: "red"
                };
            } else if (weekday === 7) {
                return {
                    color: "#1669a8"
                };
            }
        }

    },
    computed: {
        displayHour: function(){
            let start = this.data.start;
            let end = this.data.end;
            if (!this.isActive) {
                return '-';
            } else if (start === end) {
                return '×';
            } else {
                return start + '-' + end;
            }
        },
        isActive: function(){
            return !(this.data.start === '' && this.data.end === '');
        }
    }
})

Vue.component('input-forms', {
    props: {
        date: {type: String, required: true},// YYYYMMDD, String (example): '20200401']
        data: {type: Object, required: true},// extracted from app.timeScheduleData (example) {'20200401_0900': true, '20200401_0930': false}
        start: {type: Number, required: false, default: 9},
        end: {type: Number, required: false, default: 26},
    },
    delimiters: ['[[', ']]'],
    template: `<div class="form-group">
                    <div class="form-oneday-all">
                        <span class="mx-3">１日一括指定</span>
                        <button
                            type="button"
                            class="dayall false"
                            @click="onAlldayClicked(false)">×</button>
                        <button
                            type="button"
                            class="dayall true"
                            @click="onAlldayClicked(true)">○</button>
                    </div>
                    <input-one-row
                        v-for="t in timeRange"
                        :key="t + start - 1"
                        :hour="t + start - 1"
                        :isSelected_00="getScheduleBool((t + start - 1), 0)"
                        :isSelected_30="getScheduleBool((t + start - 1), 30)"
                        @time-click="onOneRowClicked"
                        >
                    </input-one-row>
                </div>`,
    methods: {
        onOneRowClicked: function(e){
            // e: Object, (example) {hour: 12, minute: 0, bool: true}
            this.$emit('value-change', e);
        },
        onAlldayClicked: function(bool){
            for (let hour = this.start; hour < this.end; hour++) {
                for (let minute of [0, 30]) {
                    this.$emit('value-change', {
                        hour: hour,
                        minute: minute,
                        bool: bool
                    });
                }
            }
        },
        getScheduleBool: function (hour, minute) {
            let key = this.date + '_' + ('0' + hour).slice(-2) + ('0' + minute).slice(-2);
            return this.data[key];
        }
    },
    computed: {
        timeRange: function(){
            return this.end - this.start;
        },
    }
})

Vue.component('input-one-row', {
    props: {
        hour: {type: Number, required: true},
        isSelected_00: {type: Boolean, required: false, default: undefined},
        isSelected_30: {type: Boolean, required: false, default: undefined}
    },
    delimiters: ['[[', ']]'],
    template: `<div class="form-one-row">
                    <div class="form-one-check">
                        <span>[[hour]]:00</span>
                        <button
                            type="button"
                            class="onetime false"
                            :class="{'checked': isSelected_00 === false}"
                            @click="onclick(0, false)"
                            >×</button>
                        <button
                            type="button"
                            class="onetime true"
                            :class="{'checked': isSelected_00 === true}"
                            @click="onclick(0, true)"
                            >○</button>
                    </div>
                    <div class="form-one-check">
                        <span>[[hour]]:30</span>
                        <button
                            type="button"
                            class="onetime false"
                            :class="{'checked': isSelected_30 === false}"
                            @click="onclick(30, false)"
                            >×</button>
                        <button
                            type="button"
                            class="onetime true"
                            :class="{'checked': isSelected_30 === true}"
                            @click="onclick(30, true)"
                            >○</button>
                    </div>
                </div>`,
    methods: {
        onclick: function(minute, bool){
            this.$emit('time-click', {
                hour: this.hour,
                minute: minute,
                bool: bool
            });
            if (minute == 0){
            this.$emit('time-click', {
                hour: this.hour,
                minute: 30,//0分を押したときは30も発火
                bool: bool
            });
            }
        }
    }
})

let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
        isMenuOpen: false,
        jsonLoaded: false,
        isProcessError: false,
        errorMessage: '',
        isInAccess: false,
        timeRangeData: {},//Object, (example) {'20200401': {start: 9, end: 26},}
        timeScheduleData: {
            '20200403_0900': false,
            '20200403_0930': true,
        },
        selectedDate: '',//YYYYMMDD, String  (example) '20200401'
        beforePOSTRequest: {},
    },
    mounted: function(){
        var request = new XMLHttpRequest();
        request.open('GET', jsonURL);
        request.responseType = 'json';
        request.send();
        request.onload = function(){
            let response = request.response;
            app.timeRangeData = response;
            console.log(app.timeRangeData);

            app.jsonLoaded = true;

            let today = app.dateToYYYYMMDD(new Date());
            app.selectedDate = today;
            console.log(today);
            if (!(today in app.timeRangeData)){
                // 範囲に入ってない時の処理
            }
        }
    },
    methods: {
        dayadd: function(e){
            app.selectedDate = app.dateToYYYYMMDD(e.date);
        },
        dateToYYYYMMDD: function(date){
            return date.getFullYear() + '' + ('0'+ (date.getMonth()+1) ).slice(-2) + '' + ('0' + date.getDate()).slice(-2);
        },
        onValueChange: function(e){
            let key = this.selectedDate + '_' + ('0' + e.hour).slice(-2) + ('0' + e.minute).slice(-2);
            this.$set(this.timeScheduleData, key, e.bool);
        }
    },
    computed: {
        YYYYMMDDToTitle: function(){
            if (this.selectedDate == ''){
                return '';
            }
            let year = Number(this.selectedDate.slice(0,4))
            let month = Number(this.selectedDate.slice(4,6));
            let day = Number(this.selectedDate.slice(6,8));
            let date = new Date(year, month - 1, day);
            let jp_weekday = ['日','月','火','水','木','金','土'];
            return month + '月' + day + '日（' + jp_weekday[date.getDay()] + '）';
        },
        selectedDateScheduleData: function (){
            let keys = Object.keys(this.timeScheduleData);
            let matchKeys = keys.filter(item => (item.slice(0,8) === this.selectedDate));
            let data = {};
            for (let key of matchKeys) {
                data[key] = this.timeScheduleData[key]
            }
            return data;
        },
        isActiveDay: function (){
            return (this.selectedDate in this.timeRangeData) && (this.timeRangeData[this.selectedDate].start !== this.timeRangeData[this.selectedDate].end);
        }
    },
    watch: {
        //  timeScheduleData: function(){
        //     //  console.log(this.timeScheduleData);
        //  }
    }
})

</script>
<style type="text/css">
section#app{
    position: relative;
}
#menu-switch{
    position: absolute;
    display: block;
    width: 100px;
    height: 50px;
    top: 0;
    left: 0;
    overflow: visible;
    transition: .2s;
}
#menu-switch.active{
    left: 280px;
}
#input-nav{
    position: absolute;
    display: block;
    border: none;
    top: 0;
    left: 0;
    width: 0px;
    padding: 0;
    background-color: #fff;
    transition: .2s;
    overflow: hidden;
}
#input-nav.active{
    width: 280px;
    padding: 0 10px;
    border-right: 1px solid #aaa;
}
div#calendar-wrap{
    width: 260px;
}

#input-form{
    width: 100%;
}

@media screen and (min-width: 768px) {
#menu-switch{
    display: none;
}
#input-nav{
    position: absolute;
    width: 280px;
    top: 0;
    left: 0;
    padding: 0 10px;
    border-right: 1px solid #aaa;

}
#input-form{
    width: calc(100% - 280px);
    margin-left: 280px;
    padding: 1rem 10px;
}

}


/* Calendar内のcss */
.ceil{
    cursor: default;
}
.ceil.active{
    cursor: pointer;
}
.ceil.selected{
    background-color: #adddeb;
}


/* inputのcss */
.form-group *{
    letter-spacing:normal;
}
.form-one-check,
.form-oneday-all{
    display: inline-block;
    padding: 0.25rem 0;
    margin: 0;
    width: 50%;
    height: 42px;
    border: none;
    box-sizing: inherit;
}
.form-one-row:nth-of-type(2n+1){
    background-color: #f3f3f3;
}
.form-oneday-all{
    width: 100%;
    background-color: #ffffcc;
}
.form-one-check span{
    display: inline-block;
    width: 2.5rem;
    margin: 0 4px 0 8px;
    padding: 0;
}
.form-one-row{
    display: flex;
}
.form-group button{
    background-color: rgba(255, 255, 255, 0);
}
.dayall,
.onetime{
    display: inline-block;
    position: relative;
    width: 24%;
    max-width: 5rem;
    text-align: center;
    padding: 0rem;
    margin: 0;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    line-height: 2rem;
    }
.dayall.true,
.onetime.true{
    border: 1px solid transparent;
    color: #4cd964;
}
.dayall.true,
.onetime.true.checked{
    background-color: #4cd964;
    color: #fff;
}

.dayall.false,
.onetime.false{
    border: 1px solid transparent;
    color: #ff3b30;
}
.dayall.false,
.onetime.false.checked{
    background-color: #ff3b30;
    color: #fff;
}
</style>
{% endblock %}