{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}{{ calendar.title }} に回答 | Unplugged Message{% endblock %}
{% block extrastyle %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='https://unpkg.com/v-calendar'></script>
{% endblock %}


{% block body %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a> に回答</h3>


<section id="app" class="row my-3 border-top">
<nav id="input-nav" :class="{'active': isMenuOpen}" class="pt-3">
    <div id="calendar-wrap">
        <h5 class="px-3">日付を選択</h5>
        <v-calendar
        :first-day-of-week="2"
        is-expanded
        >
            <template slot='header-title' slot-scope='props'>
                [[props.yearLabel]]年[[props.monthLabel]]
            </template>
            <template slot='day-content' slot-scope='props'>
                <custom-day-content
                    :day="props.day"
                    :data="timedata[dateToYYYYMMDD(props.day.date)]"
                    :is-selected="(props.day.id in selectedDate)"
                    @dayadd="dayadd"
                    @dayremove="dayremove"></custom-day-content>
            </template>
        </v-calendar>
    </div>
</nav>
<button @click="isMenuOpen = !isMenuOpen" id="menu-switch" :class="{'active': isMenuOpen}">メニュー</button>
<form id="input-form" class="pt-3" style="background-color: #eee;">
hogehoge<br>
<br>
<br>
<br>
<br>
<br>
hoge
</form>

</section>



<script type="text/javascript">
const jsonURL = "{% url 'awase:hours_update_json' calendar.pk %}";

Vue.component('custom-day-content', {
    props: {
        day: {type: Object, required: true},
        data: {type: Object, required: false, default: () => {return{start: '', end: ''}},},
        isSelected: {type: Boolean, required: false}
    },
    delimiters: ['[[', ']]'],
    template: `<div
                  class="ceil text-center pt-1 pb-2"
                  @click="onclick"
                  :class="{active: isActive, selected: isSelected}"
                >
                   <h6 class="m-0 p-0" :style="addStyleTextColor(day.weekday)">[[day.day]]</h6>
                   <span class="small">[[displayHour]]</span>
               </div>`,
    methods: {
        onclick: function(){
            if (!this.isActive) {
                return false;
            }
            if (this.isSelected) {
                this.$emit('dayremove', this.day);
            } else {
                this.$emit('dayadd', this.day);
            }
        },
        addStyleTextColor: function(weekday) {
            if (weekday === 1) {
                return {
                    color: "red"
                };
            } else if (weekday === 7) {
                return {
                    color: "#1669a8"
                };
            }
        }

    },
    computed: {
        displayHour: function(){
            let start = this.data.start;
            let end = this.data.end;
            if (!this.isActive) {
                return '-';
            } else if (start === end) {
                return '×';
            } else {
                return start + '-' + end;
            }
        },
        isActive: function(){
            return !(this.data.start === '' && this.data.end === '');
        }
    }
})


let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
        isMenuOpen: false,
        jsonLoaded: false,
        isProcessError: false,
        errorMessage: '',
        isInAccess: false,
        timedata: {},
        selectedDate: {},
        start: null,
        end: null,
        beforePOSTRequest: {},
    },
    mounted: function(){  
        var request = new XMLHttpRequest();
        request.open('GET', jsonURL);
        request.responseType = 'json';
        request.send();
        request.onload = function(){
            let response = request.response;
            app.timedata = response;
            console.log(app.timedata);

            app.jsonLoaded = true;
        }
    },
    methods: {
        dayadd: function(e){
            let id = e.id;
            if (!(id in this.selectedDate)) {
                this.$set(this.selectedDate, id, e);
            }
        },
        dayremove: function(e){
            let id = e.id;
            if (id in this.selectedDate) {
                this.$delete(this.selectedDate, id);
            }
        },
        clear: function(){
            this.selectedDate = {};
        },
        setNotCollectDay: function(){
            for (day in this.selectedDate) {
                let content = this.selectedDate[day];
                let key = this.dateToYYYYMMDD(content.date);

                this.$set(this.timedata[key], 'start', 9);
                this.$set(this.timedata[key], 'end', 9);

                this.$set(this.beforePOSTRequest, key, this.timedata[key]);
                this.$delete(this.selectedDate, day);
            }
            this.postMethod();
        },
        dateToYYYYMMDD: function(date){
            return date.getFullYear() + '' + ('0'+ (date.getMonth()+1) ).slice(-2) + '' + ('0' + date.getDate()).slice(-2);
        }
    },
    computed: {
    },
    watch: {

    }
})

</script>
<style type="text/css">
section#app{
    position: relative;
}
#menu-switch{
    position: absolute;
    display: block;
    width: 100px;
    height: 50px;
    top: 0;
    left: 0;
    overflow: visible;
    transition: .2s;
}
#menu-switch.active{
    left: 280px;
}
#input-nav{
    position: absolute;
    display: block;
    border: none;
    top: 0;
    left: 0;
    width: 0px;
    padding: 0;
    background-color: #fff;
    transition: .2s;
    overflow: hidden;
}
#input-nav.active{
    width: 280px;
    padding: 0 10px;
    border-right: 1px solid #aaa;
}
div#calendar-wrap{
    width: 260px;
}
</style>
{% endblock %}