{% extends 'base.html' %}
{% load static %}
{% load webpack_static from webpack_loader %}

{% block title %}{{ calendar.title }} に回答 | Unplugged Message{% endblock %}
{% block extrastyle %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='https://unpkg.com/v-calendar'></script>
{% endblock %}


{% block vuebody %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a> に回答</h3>

<div id="vue-app">
  <awase-input
    :json-url="'{% url 'awase:input_json' calendar.pk %}'"
    ></awase-input>
</div>

{% endblock %}