{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}あわせのあわせ | Unplugged Message{% endblock %}
{% block extrastyle %}

{% endblock %}


{% block body %}
<h3>あわせのあわせ</h3>

<section class="my-3">
    <p>新しい日程調整に招待されました！</p>
    <h5>{{ calendar.title }}</h5>
    <p>{{ calendar.text }}</p>
    <p>
        <button id="n" class="btn btn-secondary my-2">参加しません…</button>
        <button id="y" class="btn btn-danger my-2">参加する！</button>
    </p>
</section>
<script type="text/javascript">
document.getElementById("n").addEventListener("click", function(){
    location.href = "{% url 'awase:index' %}";
});

document.getElementById("y").addEventListener("click", function(){
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.style.display = "none";
    document.body.appendChild(form);
    var input_csrf = document.createElement('input');
    input_csrf.setAttribute('type', 'hidden');
    input_csrf.setAttribute('name', 'csrfmiddlewaretoken');
    input_csrf.setAttribute('value', '{{ csrf_token }}');
    form.appendChild(input_csrf);
    var input_join = document.createElement('input');
    input_join.setAttribute('type', 'hidden');
    input_join.setAttribute('name', 'join');
    input_join.setAttribute('value', 'true');
    form.appendChild(input_join);
    form.submit();
});
</script>
{% endblock %}