{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}{{calendar.title}}を変更 | あわせのあわせ | Unplugged Message{% endblock %}
{% block extrastyle %}
{% endblock %}


{% block vuebody %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a>を変更</h3>
<awase-update-calendar-form
  csrftoken="{{csrf_token}}"
  init-title="{{calendar.title}}"
  init-text="{{calendar.text}}"
  init-days-begin="{{calendar.days_begin|date:'Y-m-d'}}"
  init-days-end="{{calendar.days_end|date:'Y-m-d'}}"
></awase-update-calendar-form>
{% endblock %}