{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}{{calendar.title}}を変更 | あわせのあわせ | Unplugged Message{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/awase/create.css' %}">
    <script src='https://unpkg.com/v-calendar'></script>
{% endblock %}


{% block body %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a>を変更</h3>

<section id="form_upload" class="my-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group mx-0">
            {{ UpdateForm.title.label_tag }}
            {{ UpdateForm.title }}
            {% if UpdateForm.title.errors %}
            <p class="small text-danger pl-2">{{ UpdateForm.title.errors.as_text }}</p>
            {% endif %}
        </div>
        <div class="form-group mx-0">
            {{ UpdateForm.text.label_tag }}
            {{ UpdateForm.text }}
            {% if UpdateForm.text.errors %}
            <p class="small text-danger pl-2">{{ UpdateForm.text.errors.as_text }}</p>
            {% endif %}
        </div>
        <div class="form-group mx-0">
            {{ UpdateForm.days_begin.label_tag }}
            <v-date-picker v-model="start" mode="single"></v-date-picker>
            <vue-input
                type='hidden'
                name='{{ UpdateForm.days_begin.name }}'
                init='null'
                :value='dateToText(start)'
                >
            </vue-input>
        </div>
        <div class="form-group mx-0">
            {{ UpdateForm.days_end.label_tag }}
            <v-date-picker v-model="end" mode="single"></v-date-picker>
            <vue-input
                type='hidden'
                name='{{ UpdateForm.days_end.name }}'
                init='null'
                :value='dateToText(end)'
                >
            </vue-input>
        </div>


        {% for non_field_error in UpdateForm.non_field_errors %}
        <p class="small text-danger pl-2">{{ non_field_error }}</p>
        {% endfor %}

        <input type="submit" value="この内容に変更" class="btn btn-info mx-2 my-3">
    </form>
    <p class="small text-secondary">
    	集計できる期間は現在のところ、最大で120日間です。<br>
    </p>
    <a href="{% url 'awase:calendar' calendar.pk %}" class="btn btn-primary my-2">日程調整「{{ calendar.title }}」に戻る</a>
</section>

<script type="text/javascript">
    Vue.component('vue-input', {
    props: ['type', 'name', 'init'],
    template: '<input :type="type" :name="name" :id="id">',
    data: function(){
        return {
            value: this.init,
        }
    },
    computed: {
        id: function(){
            return 'id_' + this.name;
        }
    }
})
let app = new Vue({
    el: '#form_upload',
    data: {
        mode: 'single',
        start: new Date({{calendar.days_begin|date:"Y"}}, {{calendar.days_begin|date:"m"}} - 1, {{calendar.days_begin|date:"d"}}),
        end: new Date({{calendar.days_end|date:"Y"}}, {{calendar.days_end|date:"m"}} - 1, {{calendar.days_end|date:"d"}}),
        is_error: false,
    },
    methods: {
        dateToText: function(date){
            return date.getFullYear() + '-' + ('00' + (date.getMonth() + 1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2);
        },
        validate: function(){
            let diff = this.end.getTime() - this.start.getTime();
            let days = diff / (1000 * 60 * 60 * 24);
            if (diff <= 0) {
                this.is_error = true;
            }
            if (days > 120) {
                this.is_error = true;
            } else {
                this.is_error = false;
            }
        }
    },
    computed: {

    },

})

</script>
{% endblock %}