{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}{{ calendar.title }} - 招待URLの確認 | Unplugged Message{% endblock %}
{% block extrastyle %}

{% endblock %}


{% block body %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a> - 招待URLの確認</h3>
<section class="my-3">
    <p>
        このカレンダーへの招待リンクは以下の通りです。<br>
        この招待URLを日程調整したい人に(LINE,メールなどで)送信してください。<br>
    </p>
    <input id="inviteURL" class="p-2 form-control text-break" type="text" readonly="readonly" value="https://message.ku-unplugged.net{% url 'awase:invited' calendar.invite_key %}">
    <p class="small">
    招待URLです。<br>
    クリックするとクリップボードにコピーされます。
    </p>
    <p class="small">
        コピーできない方はこちら<br>
        <span>https://message.ku-unplugged.net{% url 'awase:invited' calendar.invite_key %}</span>
    </p>
    <a href="{% url 'awase:calendar' calendar.pk %}" class="btn btn-primary my-2">日程調整「{{ calendar.title }}」に戻る</a><br>
</section>

<script type="text/javascript">
var target = document.getElementById("inviteURL");
target.addEventListener("click", function(){
    target.select();
    document.execCommand("Copy");
    alert("クリップボードにコピーしました！ : " + target.value);
});
</script>
{% endblock %}