{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}{{calendar.title}}の集計時間を変更 | あわせのあわせ | Unplugged Message{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/awase/create.css' %}">
    <script src='https://unpkg.com/v-calendar'></script>
{% endblock %}


{% block body %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a>の集計時間を変更</h3>
<p class="mb-4">
    各日にちの中で日程調整したい時間帯を変更できます。<br>
    時間は24時間表記で、9時(AM9:00)～26時(翌AM2:00)まで1時間単位で指定できます。<br>
    また、その日の集計を行わない場合は開始時間と終了時間に同じ数字を入れてください。<br>
    例：開始「9」、終了「9」 のとき、その日は集計を行いません。
</p>


<section id="app">
    <div v-if="!jsonLoaded">
        <p>読み込み中...</p>
    </div>
    <div v-else>
        <v-calendar
            :first-day-of-week="2"
            is-expanded
            :columns="$screens({ default: 1, ld: 2 })"
            >
            <template slot='header-title' slot-scope='props'>
                [[props.yearLabel]]年[[props.monthLabel]]
            </template>
            <template slot='day-content' slot-scope='props'>
                <custom-day-content
                    :day="props.day"
                    :data="timedata[String(props.day.day)]"
                    @dayadd="dayadd"
                    @dayremove="dayremove"></custom-day-content>
            </template>

        </v-calendar>
        <div id="time-select">
            
        </div>

    </div>
</section>


<script type="text/javascript">
Vue.component('custom-day-content', {
    props: {
        day: {type: Object, required: true},
        data: {type: Object, required: false},
    },
    delimiters: ['[[', ']]'],
    template: `<div
                  class="ceil text-center pt-1 pb-2"
                  @click="onclick"
                  :class="{selected: isSelected}"
                >
                   <h6 class="m-0 p-0">[[propedDay.day]]</h6>
                   <span class="small">[[displayHour]]</span>
               </div>`,
    data: function(){
        return {
            propedDay: this.day,
            propedData: this.data,
            isSelected: false,
        }
    },
    methods: {
        onclick: function(){
            this.isSelected = !this.isSelected;
            if (this.isSelected) {
                this.$emit('dayadd', this.propedDay);
            } else {
                this.$emit('dayremove', this.propedDay);
            }

        }
    },
    computed: {
        displayHour: function(){
            if (this.data.start === this.data.end) {
                return '×';
            } else {
                return this.data.start + '-' + this.data.end;
            }
        }
    }
})


let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
        jsonLoaded: true,
        timedata: {
            '1': {start: 9, end: 9},
            '2': {start: 9, end: 26},
            '3': {start: 9, end: 26},
            '4': {start: 9, end: 26},
            '5': {start: 9, end: 26},
            '6': {start: 12, end: 26},
            '7': {start: 9, end: 26},
            '8': {start: 9, end: 26},
            '9': {start: 9, end: 26},
            '10': {start: 9, end: 26},
            '11': {start: 9, end: 26},
            '12': {start: 9, end: 26},
            '13': {start: 9, end: 26},
            '14': {start: 9, end: 26},
            '15': {start: 9, end: 26},
            '16': {start: 9, end: 26},
            '17': {start: 9, end: 26},
            '18': {start: 9, end: 26},
            '19': {start: 9, end: 26},
            '20': {start: 9, end: 26},
            '21': {start: 9, end: 26},
            '22': {start: 9, end: 26},
            '23': {start: 9, end: 26},
            '24': {start: 9, end: 26},
            '25': {start: 9, end: 26},
            '26': {start: 9, end: 26},
            '27': {start: 9, end: 26},
            '28': {start: 9, end: 26},
            '29': {start: 9, end: 26},
            '30': {start: 9, end: 26},
            '31': {start: 9, end: 26},
        },
        selectedDate: {},
        isInline: true,
        WEEKDAYS: ['日','月','火','水','木','金','土']
    },
    methods: {
        dayadd: function(e){
            let id = e.id;
            if (!(id in this.selectedDate)) {
                this.$set(this.selectedDate, id, e);
            }
        },
        dayremove: function(e){
            let id = e.id;
            if (id in this.selectedDate) {
                this.$delete(this.selectedDate, id);
            }
        },
        clear: function(){
            this.selectedDate = {};
        },
    },
    computed: {
    },
    watch: {
        selectedDate: function(){
            for (var key in this.selectedDate) {
                console.log(key + "：" + this.selectedDate[key].day);
            }
            console.log(Object.keys(this.selectedDate).length);
        },
    }
})

</script>
<style type="text/css">

.ceil.selected{
    background-color: #abcdef;
}
</style>
{% endblock %}