{% extends 'base.html' %}
{% load static %}
{% load getsongdetail %}

{% block title %}{{calendar.title}}の集計時間を変更 | あわせのあわせ | Unplugged Message{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/awase/create.css' %}">
    <script src='https://unpkg.com/v-calendar'></script>
{% endblock %}


{% block body %}
<h3><a href="{% url 'awase:calendar' calendar.pk %}">{{ calendar.title }}</a>の集計時間を変更</h3>
<p class="mb-4">
    各日にちの中で日程調整したい時間帯を変更できます。<br>
    時間は24時間表記で、9時(AM9:00)～26時(翌AM2:00)まで1時間単位で指定できます。<br>
    また、その日の集計を行わない場合は開始時間と終了時間に同じ数字を入れてください。<br>
    例：開始「9」、終了「9」 のとき、その日は集計を行いません。
</p>


<section id="app">
    <div v-if="!jsonLoaded">
        <p>読み込み中...</p>
    </div>
    <div v-else>
        <h6>1. 変更したい日(複数も可)を選ぶ</h6>
        <v-calendar
            :first-day-of-week="2"
            is-expanded
            :columns="$screens({ default: 1, md: 2 })"
            >
            <template slot='header-title' slot-scope='props'>
                [[props.yearLabel]]年[[props.monthLabel]]
            </template>
            <template slot='day-content' slot-scope='props'>
                <custom-day-content
                    :day="props.day"
                    :data="timedata[dateToYYYYMMDD(props.day.date)]"
                    :is-selected="(props.day.id in selectedDate)"
                    @dayadd="dayadd"
                    @dayremove="dayremove"></custom-day-content>
            </template>

        </v-calendar>
        <hr>
        <h6>2. 選んだ日に集計する時間を指定する</h6>
        <div id="time-select" class="mt-3 mb-5">
            <time-selector name="start" :max="end" @onchange="timeChange"></time-selector>
            <span>から</span>
            <time-selector name="end" :min="start" @onchange="timeChange"></time-selector>
            <button @click="setTimeData">変更</button>
        </div>

    </div>
</section>


<script type="text/javascript">
Vue.component('custom-day-content', {
    props: {
        day: {type: Object, required: true},
        data: {type: Object, required: false, default: () => {return{start: '', end: ''}},},
        isSelected: {type: Boolean, required: false}
    },
    delimiters: ['[[', ']]'],
    template: `<div
                  class="ceil text-center pt-1 pb-2"
                  @click="onclick"
                  :class="{selected: isSelected}"
                  style="cursor: pointer"
                >
                   <h6 class="m-0 p-0">[[day.day]]</h6>
                   <span class="small">[[displayHour]]</span>
               </div>`,
    methods: {
        onclick: function(){
            if (this.isSelected) {
                this.$emit('dayremove', this.day);
            } else {
                this.$emit('dayadd', this.day);
            }

        }
    },
    computed: {
        displayHour: function(){
            let start = this.data.start;
            let end = this.data.end;
            if (start === '' && end === '') {
                return '-';
            } else if (start === end) {
                return '×';
            } else {
                return start + '-' + end;
            }
        }
    }
})

Vue.component('time-selector', {
    props: {
        name: {type: String, required: true},
        min: {type: Number, required: false},//ここでdefault定義できない。nullの時効かない。
        max: {type: Number, required: false},
    },    
    delimiters: ['[[', ']]'],
    template: `<select v-model="value" @change="eventUp" class="form-control col-3 d-inline">
                   <option
                        v-for="i in 18"
                        :value="i+8"
                        :disabled="!(minSafed <= i+8 && i+8 <= maxSafed)"
                        >
                            [[ i+8 ]]:00
                        </option>
               </select>`,
    data: function(){
        return {
            value: null,
        };
    },
    methods: {
        eventUp: function(){
            console.log(this.value);
            this.$emit('onchange', {name: this.name, value: this.value});
        },
    },
    computed: {
        minSafed: function(){
            return this.min || 9;//nullの時propsでのdefaultを通り抜けるためここでdefault定義。
        },
        maxSafed: function(){
            return this.max || 26;
        }
    }

})


let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
        jsonLoaded: true,
        timedata: {
            '20200301': {start: 9, end: 9},
            '20200302': {start: 9, end: 26},
            '20200303': {start: 9, end: 26},
            '20200304': {start: 9, end: 26},
            '20200305': {start: 9, end: 26},
            '20200306': {start: 12, end: 26},
            '20200307': {start: 9, end: 26},
            '20200308': {start: 9, end: 26},
            '20200309': {start: 9, end: 26},
            '20200310': {start: 9, end: 26},
            '20200311': {start: 9, end: 26},
            '20200312': {start: 10, end: 26},
            '20200313': {start: 9, end: 26},
            '20200314': {start: 9, end: 26},
            '20200315': {start: 9, end: 26},
            '20200316': {start: 9, end: 26},
            '20200317': {start: 9, end: 26},
            '20200318': {start: 9, end: 26},
            '20200319': {start: 9, end: 26},
            '20200320': {start: 9, end: 26},
            '20200321': {start: 9, end: 26},
            '20200322': {start: 9, end: 26},
            '20200323': {start: 9, end: 26},
            '20200324': {start: 9, end: 26},
            '20200325': {start: 9, end: 26},
            '20200326': {start: 9, end: 26},
            '20200327': {start: 9, end: 26},
            '20200328': {start: 9, end: 26},
            '20200329': {start: 9, end: 26},
            '20200330': {start: 9, end: 26},
            '20200331': {start: 9, end: 26},
        },
        selectedDate: {},
        start: null,
        end: null,
        isInline: true,
        WEEKDAYS: ['日','月','火','水','木','金','土']
    },
    methods: {
        dayadd: function(e){
            let id = e.id;
            if (!(id in this.selectedDate)) {
                this.$set(this.selectedDate, id, e);
            }
        },
        dayremove: function(e){
            let id = e.id;
            if (id in this.selectedDate) {
                this.$delete(this.selectedDate, id);
            }
        },
        clear: function(){
            this.selectedDate = {};
        },
        timeChange: function(e){
            console.log(e);
            this[e.name] = e.value;
        },
        setTimeData: function(){
            for (day in this.selectedDate) {
                let content = this.selectedDate[day];

                console.log(this.dateToYYYYMMDD(content.date));
            }
        },
        dateToYYYYMMDD: function(date){
            return date.getFullYear() + '' + ('0'+ (date.getMonth()+1) ).slice(-2) + '' + ('0' + date.getDate()).slice(-2);
        }
    },
    computed: {
    },
    watch: {
        selectedDate: function(){
            for (var key in this.selectedDate) {
                console.log(key + "：" + this.selectedDate[key].day);
            }
            console.log(Object.keys(this.selectedDate).length);
        },
        start: function(){
            console.log(this.start);
        }
    }
})

</script>
<style type="text/css">

.ceil.selected{
    background-color: #abcdef;
}
</style>
{% endblock %}