{% extends "base.html" %}
{% load static %}

{% block main %}
<h2 class="fw-bold text-primary">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user">
    <path d="M20 21v-2a4 4 0 0 0-3-3.87"></path>
    <path d="M4 21v-2a4 4 0 0 1 3-3.87"></path>
    <circle cx="12" cy="7" r="4"></circle>
  </svg>
  ユーザー情報変更
</h2>

<form method="post" class="my-4">
  {% csrf_token %}
  {{ form.non_field_errors }}
  
  <div class="mb-3">
    <label for="{{ form.receive_email.id_for_label }}" class="form-label">
      {{ form.receive_email.label }}
    </label>
    {{ form.receive_email }}
    {{ form.receive_email.errors }}
  </div>
  
  <div class="mb-3">
    <label for="{{ form.fullname.id_for_label }}" class="form-label">
      {{ form.fullname.label }}
    </label>
    {{ form.fullname }}
    {{ form.fullname.errors }}
  </div>
  
  <div class="mb-3">
    <label for="{{ form.nickname.id_for_label }}" class="form-label">
      {{ form.nickname.label }}
    </label>
    {{ form.nickname }}
    {{ form.nickname.errors }}
  </div>
  
  <div class="mb-3">
    <label for="{{ form.furigana.id_for_label }}" class="form-label">
      {{ form.furigana.label }}
    </label>
    {{ form.furigana }}
    {{ form.furigana.errors }}
  </div>

  
  <!-- send_mail を toggle button として出力 -->
  <div class="mb-3">
    <div class="form-check form-switch">
      {{ form.send_mail }}
      <label class="form-check-label" for="{{ form.send_mail.id_for_label }}">
        {{ form.send_mail.label }}
      </label>
    </div>
    {% if form.send_mail.errors %}
      <div class="invalid-feedback d-block">
        {{ form.send_mail.errors }}
      </div>
    {% endif %}
  </div>

    <div class="d-flex my-3 justify-content-between">
        <a href="/mypage/" class="btn btn-secondary px-4">戻る</a>
        <button type="submit" class="btn btn-primary px-4">更新</button>
    </div>
</form>
{% endblock %}
