{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pure.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Zen+Kaku+Gothic+New&display=swap"
        rel="stylesheet">
    <title>{% block title %}Zoomail{% endblock %}</title>
    {% block extrastyle %}{% endblock %}
</head>

<body>
    <input type="checkbox" id="nav_open">

    {% block header %}
    {% include "componsnts/header/header.html" %}
    {% endblock %}

    <main class="container">
        {% block main %}

        {% endblock %}
        {% block nav %}
        {% include "componsnts/nav.html" %}
        {% endblock %}
    </main>

    {% block footer %}
    {% include "componsnts/footer.html" %}
    {% endblock %}

</body>

</html>