{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/touch-hover.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% block extrastyle %}{% endblock %}
</head>
<body>
<input type="checkbox" id="nav_open">
<header>
	<div class="container">
		<h1><a href="{% url 'home' %}">U Message</a></h1>
		<label id="nav_SW" for="nav_open"><span></span></label>
		<nav id="nav">
			<ul>
				{% if user.is_authenticated %}
				<li><a href="{% url 'read' %}">メーリス</a></li>
				<li><a href="{% url 'kansou_index' %}">感想用紙</a></li>
				<li><a href="{% url 'player_index' %}">リハ音源</a></li>
				<li><a href="/">ライブ映像</a></li>
				<li><a href="{% url 'pictures_index' %}">写真</a></li>
				<li><a href="/">その他資料</a></li>
				<li><a href="{% url 'mypage_index' %}">My Page</a></li>
				<li><a href="/logout/">Logout</a></li>
				{% else %}
				<li><a href="/login/">Login with Google</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
{% if messages %}
<div class="container mt-3">
	<div class="messages my-3">
		{% for message in messages %}
			<p  class="alert 
			{% if message.tags %}alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} ">{{ message }}</p>
		{% endfor %}
	</div>
</div>
{% endif %}

<div id="container" class="container mt-3">
	{% block body %}
	{% endblock %}
</div>
</body>
</html>