{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block extrastyle %}{% endblock %}
</head>

<body>
    <input type="checkbox" id="nav_open">
    <header>
        <div class="container">
            <h1><a href="/">Zoomail</a></h1>
        </div>
    </header>
</body>

</html>