{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
{% endblock %}

{% block body %}
{% if messages %}
<div class="container mt-3">
	<div class="messages my-3">
		{% for message in messages %}
			<p  class="alert 
			{% if message.tags %}alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} ">{{ message }}</p>
		{% endfor %}
	</div>
</div>
{% endif %}
<p>public</p>

{% include "home/login.html" %}


<script type="text/javascript" src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
{% endblock %}


