{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  {% render_bundle 'main' 'css' %}
  <title>Zoomail</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% block extrastyle %}{% endblock %}
</head>
<body>

<div id="vue-app">
  <App />
</div>


{% render_bundle 'main' 'js' attrs='defer' %}
</body>
</html>