{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1,shrink-to-fit=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'read/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'read/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'read/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'read/css/bootstrap-reboot.min.css' %}">
	<script src="{% static 'read/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'read/js/bootstrap.min.js' %}"></script>
</head>
<body>
<header>
	<div class="container">
		<h2>U Message</h2>
	</div>
</header>
<div id="container" class="container">
	<div class="row">
		<p>検索とかそういうの - 開発中</p>
	</div>

	<div class="article row border border-left-0 border-right-0">
			<h4 class="col-sm-12 my-1"><a>6月ライブリハの口頭コメント アンケート</a></h4>
			<div class="col-sm-12 mt-1">
				<span class="float-left date">2019.6.9 (Sun.)</span>
				<span class="float-left ml-4 whosent" data-userid="609">成基人</span>
				<span class="float-right star">☆</span>
			</div>
			<p class="content col-sm-12 mt-2">6月ライブお疲れ様でした。本ライブのリハーサルでは制限時間、コメント内容の禁止事項など、いくつかルー</p>
	</div>

	<div class="article row border border-left-0 border-right-0">
			<h4 class="col-sm-12 my-1"><a>6月ライブについて</a></h4>
			<div class="col-sm-12 mt-1">
				<span class="float-left date">2019.6.6 (Tue.)</span>
				<span class="float-left ml-4 whosent" data-userid="609">成基人</span>
				<span class="float-right star">☆</span>
			</div>
			<p class="content col-sm-12 mt-2">6月ライブのスケジュールについてお知らせします。日時:6/7(金)  19:00~場所:4共21 終了予定時刻: 21:30</p>
	</div>

</div>
</body>
</html>