{% extends 'base.html' %}
{% load static %}
{% load message_abst %}
{% block title %}{{message.title}} | メーリス | Unplugged Message{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board/content.css' %}">
{% endblock %}
{% block body %}
<!-- <div class="row my-3">
	<span class="col tag">{{tag}}</span>
</div> -->
<h3 class="my-1">{{message.title}}</h3>
<form method="post" id="bookmark">
    {% csrf_token %}
</form>
<div class="col-sm-12 col-md-8 mt-1 pl-0">
	<span class="date d-inline-block">{{message.created_at|date:"Y/m/d (D) H:i"}}</span>
	{% if is_updated %}
	<span class="updated alert-warning d-inline-block">{{message.updated_at|date:"m/d (D) H:i"}} 更新</span>
	{% endif %}
	<span class="ml-4 whosent" data-userid="{{message.writer.id}}">{{message.writer.get_short_name}}</span>
	<span class="float-right star mb-1"><img src="{% is_marked message request.user %}" onclick="bookmark('{{message.pk}}')" id="img_{{message.pk}}" width="16" height="16"></span>
</div>
<hr>
<p class="content col-sm-12 col-md-9">
	{{message.content | linebreaks | urlize}}
</p>
{% for attachment in attachments %}
{% if attachment.isImage %}
<img src="/private-media/{{attachment.path}}" style="width: 100%;max-width: 560px;">
{% else %}
<a href="/read/download/{{message.pk}}/{{attachment.pk}}">{{message.title}}_添付{{forloop.counter}}{{attachment.fileext}}</a><br>
{% endif %}
{% endfor %}

{% if message.sender != message.writer %}
<hr>
<p class="small">このメーリスは {{ message.sender.get_full_name }} によって代理送信されました。</p>
{% endif %}

{% if edit_allowed %}
<hr>
<a href="{% url 'message_edit' message.id %}">メッセージを修正する</a>
<p class="small text-secondary">
	現在、タイトルと本文のみ修正可能となっています。<br>
	添付ファイル、宛先の修正については、今後更新予定です。<br>
	お急ぎの場合は開発者まで連絡してください。
</p>
{% endif %}
<script type="text/javascript">
$(function(){
    var img = document.createElement('img');
    const yellow_src = "{% static 'img/star_yl.png' %}";
    img.src = yellow_src;
})
</script>
<script src="{% static 'js/ajax_bookmark.js' %}"></script>
{% endblock %}
{% block popup %}
<div class="popup">
</div>
{% endblock %}