{% extends 'base.html' %}
{% block title %}{{message.title}} | メーリス | Unplugged Message{% endblock %}

{% block body %}
<div class="row my-3">
	<span class="col tag">{{tag}}</span>
</div>
<h3 class="my-1">{{message.title}}</h3>
<div class="col-sm-12 col-md-8 mt-1 pl-0">
	<span class="date d-inline-block">{{message.created_at|date:"Y/m/d (D) H:i"}}</span>
	{% if message.created_at < message.updated_at %}
	<span class="updated alert-warning d-inline-block">{{message.updated_at|date:"m/d (D) H:i"}} 更新</span>
	{% endif %}
	<span class="ml-4 whosent" data-userid="{{message.writer.id}}">{{message.writer.get_short_name}}</span>
	<span class="float-right star">☆</span>
</div>
<hr>
<p class="content col-sm-12 col-md-9">
	{{message.content | linebreaks | urlize}}
</p>
{% for attachment in attachments %}
{% if attachment.isImage %}
<img src="/private-media/{{attachment.path}}" width="100%">
{% else %}
<a href="/private-media/{{attachment.path}}" download="{{attachment.fileName}}">{{attachment.fileName}}</a>
{% endif %}
{% endfor %}

{% if edit_allowed %}
<hr>
<a href="{% url 'message_edit' message.id %}">メッセージを修正する</a>
<p class="small text-secondary">
	現在、タイトルと本文のみ修正可能となっています。<br>
	添付ファイル、宛先の修正については、今後更新予定です。<br>
	お急ぎの場合は開発者まで連絡してください。
</p>
{% endif %}

{% endblock %}