{% extends 'base.html' %}
{% load static %}
{% block title %}Read{% endblock %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/board/index.css' %}">
{% endblock %}

{% block body %}
	<div class="row">
		<p>{{search}}</p>
	</div>


	{% for item in data %}
		<section class="row border border-left-0 border-right-0">
				<h4 class="col-sm-12 my-1"><a href="content/{{item.id}}" class="text-decoration-none">{{item.title}}</a></h4>
				<div class="col-sm-12 mt-1">
					<span class="float-left date">{{item.created_at|date:"Y/m/d D H:i"}}</span>
					<span class="float-left ml-4 whosent" data-userid="609">{{item.whosend}}</span>
					<span class="float-right star">☆</span>
				</div>
				<article class="col-sm-12 my-2">
					{{item.content|linebreaks|truncatechars:"150"}}
				</article>
		</section>
	{% endfor %}

{% endblock %}