{% extends 'base.html' %}
{% load static %}
{% load message_abst %}
{% block title %}メーリス一覧 | UnpluggedMessage{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board/index.css' %}">
    <script src="{% static 'js/infinite-scroll.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax_bookmark.js' %}"></script>
    
{% endblock %}

{% block body %}
    <h3 class="my-1">メーリス一覧</h3>

    <div id="sendlink">
        <a href="{% url 'send' %}">
            <span>メーリスを送信する</span>
            <img src="{% static 'img/send.svg' %}" height="50" width="50">
        </a>
    </div>

    <div class="searchform row container m-2 p-2">
        <form method="post">
            {% csrf_token %}
            {{ search }}
            <input type="submit" name="search" value="検索">
        </form>
    </div>

    <div class="content_wrapper">
    <form method="post" id="bookmark">
        {% csrf_token %}
    </form>
    {% for message_letter in message_letters %}
        <section class="content{% no_kidoku_css_class message_letter request.user %} row border border-left-0 border-right-0">
            <h4 class="col-sm-12 my-1"><a href="content/{{message_letter.id}}">{{message_letter.title}}</a></h4>
            <div class="col-sm-12 mt-1">
                <span class="float-left date small p-1">{{message_letter.created_at|date:"Y/m/d (D) H:i"}}</span>
                {% is_updated message_letter %}
                <span class="float-left ml-4 whosent" data-userid="{{message_letter.writer.id}}">{{message_letter.writer.get_short_name}}</span>
                <span class="float-right star"><img src="{% static 'img/star_bk.png' %}" onclick="bookmark({{message_letter.pk}})" width="16" height="16"></span>
            </div>
            <article class="col-sm-12 my-2">
                {{message_letter.content | MakeMessageShort}}
            </article>
        </section>
    {% endfor %}
    </div>

    <div class="page-load-status">
        <div class="infinite-scroll-request"><p class="loader">Loading...</p></div>
        <p class="infinite-scroll-last text-center alert alert-secondary my-2 p-2">
            {% if message_letters %}
            	{% if is_seached %}
            	検索結果は以上です
            	{% else %}
            	これ以前のメーリスはありません
            	{% endif %}
            {% else %}
            	{% if is_seached %}
            	検索の結果、該当はありませんでした。
            	{% else %}
            	現在閲覧可能なメーリスはありません
            	{% endif %}
            {% endif %}
        </p>
    </div>

    {% if message_letters.paginator.num_pages > 1 %}
        <div id="page_nav" class="my-3">
            <span id="pagination_nav" class="small text-secondary m-2">ページを移動する</span>
            <ul id="pagination" class="pagination">
                {% for link_page in message_letters.paginator.page_range %}
                    {% if link_page %}
                        <li data-page="{{ link_page }}"><a class="page-link text-primary d-inline-block" href="?page={{ link_page }}">{{ link_page }}</a></li>
                    {% else %}
                        <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted">・・・</a></li>
                    {% endif %}
                {% endfor %}

                {% if message_letters.has_next %}
                <a class="next d-none" href="?page={{ message_letters.next_page_number }}">次へ</a>
                {% endif %}
            </ul>
        </div>
    {% endif %}
<script src="{% static 'js/read_paginator.js' %}"></script>
<script type="text/javascript">
$(function(){
    var img = document.createElement('img');
    img.src = "{% static 'img/star_yl.png' %}";
    $('.star img').bind('touchstart mouseenter', function(){
        $(this).attr("src","{% static 'img/star_yl.png' %}");
    }).bind('touchend mouseleave', function(){
        $(this).attr("src","{% static 'img/star_bk.png' %}");
    });
})
</script>
{% endblock %}