{% extends 'base.html' %}
{% load static %}
{% block title %}Read{% endblock %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/board/index.css' %}">
{% endblock %}

{% block body %}
	<div class="searchform row container m-2 p-2">
		<form method="post">
			{% csrf_token %}

			{{ search }}

			<input type="submit" name="search" value="検索">
		</form>
	</div>


	{% for item in data %}
		<section class="row border border-left-0 border-right-0">
				<h4 class="col-sm-12 my-1"><a href="content/{{item.id}}" class="text-decoration-none">{{item.title}}</a></h4>
				<div class="col-sm-12 mt-1">
					<span class="float-left date small mr-2 p-1">{{item.created_at|date:"Y/m/d (D) H:i"}}</span>
					{% if item.created_at < item.updated_at %}
						<span class="updated float-left alert-warning small p-1">{{item.updated_at|date:"Y/m/d (D) H:i"}} 更新</span>
					{% endif %}
					
					<span class="float-left ml-4 whosent" data-userid="609">{{item.writer_id}}</span>
					<span class="float-right star">☆</span>
				</div>
				<article class="col-sm-12 my-2">
					{{item.content}}
				</article>
		</section>
	{% endfor %}

{% endblock %}