{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}} | Unplugged Message{% endblock %}
{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/board/send.css' %}">
{% endblock %}
{% block body %}
	<h1 class="mb-4">Send a Message</h1>
	<section id="SaveDataInfo" class="alert alert-success alert-dismissible"></section>
	<form method="post" enctype="multipart/form-data" id="SendMessageForm">
		{% csrf_token %}
		<div id="message_form">
			{{ message_form.as_p }}
		</div>
		<div id="message_attachment">
			{{ message_attachment.as_p }}
		</div>
		<input type="submit" name="SEND">
	</form>
	

<script type="text/javascript">
	let JSstop = false;
	{% if JSstop %}
	let JSstop = true;
	{% endif %}
</script>
<script src="{% static 'js/send.js' %}"></script>
{% endblock %}