{% extends 'base.html' %}
{% load static %}
{% block title %}メーリス送信 | Unplugged Message{% endblock %}
{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/board/send.css' %}">
{% endblock %}
{% block body %}
	<h3 class="mt-1 mb-3">メーリス送信</h3>
	<section id="SaveDataInfo" class="alert alert-success alert-dismissible"></section>
	<form method="post" enctype="multipart/form-data" id="SendMessageForm">
		{% csrf_token %}
		<div id="message_form">
			{{ message_form.as_p }}
		</div>
		<input type="submit" name="SEND">
	</form>
	

<script type="text/javascript">
	const user_year = {{ user.year }};
	let JSstop = false;
	{% if JSstop %}
	JSstop = true;
	{% endif %}
</script>
<script src="{% static 'js/send_choiceform.js' %}"></script>
<script src="{% static 'js/send_restore.js' %}"></script>
{% endblock %}