* {
  box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

p {
  line-height: 1.75;
}

.container {
  width: 100%;
  padding: 0 1rem;
  
  @media screen and (min-width: 35.5em) {
    padding: 0 10%;
  }
  @media screen and (min-width: 48em) {
    padding: 0 15%;
  }
  @media screen and (min-width: 64em) {
    padding: 0 20%;
  }
  @media screen and (min-width: 80em) {
    padding: 0 25%;
  }
}

a, a:active, a:focus {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  outline: none;
  &:hover {
    text-decoration: underline;
  }
}

.small{
  font-size: 0.75rem;
}

.btn-flat{
  display: inline-block;
  border: 2px solid $text-white;
  padding: 0.5rem;
  margin: 0.5rem;
  &:hover {
    text-decoration: underline;
  }
}