$bg-dark: #386471;
// $bg-dark: #386370;
$bg-dark-hover: #498293;
// $bg-light: #bdd4da;
$bg-light: #7aa5b2;
$bg-light-lighten3: #9abbc5;
$bg-white: #f3f8f9;
$bg-red: #e8c3c3;
$text-white: #eee;
$text-dark: #aaa;
$text-black: #333;
$text-link-blue: #0058B3;
$text-red: #b94a48;
