@charset "utf-8";

article p{
	margin-bottom: 0;
	padding-bottom: 0.2rem;
	padding-left: 5px;
	border-left: #d6eef5 2px solid;
}
article p:first-child{
	display: none;
}
article p br{
	display: none;
}

#container{
	position: relative;
}

div#sendlink{
	position: fixed;
	bottom: 3rem;
	right: 8vw;
}

div#sendlink a{
	display: block;
	position: relative;
	float: right;
	height: 62px;
	padding: 5px 16px;
	border: 1px solid #3bc665;
	border-radius: 33px;
	text-decoration: none;
	transition: 0.4s;
	overflow: hidden;
}


div#sendlink a span{
	display: none;
	text-decoration: none;
	color: #212529;
}

div#sendlink a.hover{
	border: 1px double #3bc665;
	background-color: #ccf0d7;
}

div#sendlink a.hover span{
	display: inline;
}


div#sendlink a img{
	transform: scale(-1, 1);
	margin: 0 -4px 0 0;
	padding: 0 -3px;
}
