@charset "utf-8";

#SaveDataInfo{
	display: none;
}

form label{
	display: none;
}
form input:not([type="submit"]),
form textarea{
	width: 100%;
	max-width: 720px;
}

form select{
	width: 100%;
	max-width: 300px;
}


form label[for="id_year_choice"],
form label[for="id_to"]{
	position: relative;
	display: inline-block;
	padding: 0 0.25rem;
	width: 3rem;
}

#message_form > p:nth-child(2){
	position: relative;
	display: inline-block;
	width: 9.5rem;
	margin-bottom: 0.25rem;
}
select#id_year_choice{
	position: relative;
	display: inline-block;
	width: 5rem;
	padding: 6px;
	margin: 0;
}

#message_form > p:nth-child(3){
	position: relative;
	display: inline-block;
	width: 10rem;
	margin-bottom: 0.25rem;
}
select#id_written_by{
	position: relative;
	display: block;
	width: 10rem;
	padding: 6px 12px;

}

select#id_to{
	position: relative;
	display: inline-block;
	width: 16.5rem;
	max-height: 2rem;
	overflow-y: scroll;
}

select#id_to:focus{
	max-height: 30rem;
}