@charset "utf-8";

#SaveDataInfo{
	display: none;
}

form label:not([for="id_attachment"]){
	display: none;
}

form input:not([type="submit"]),
form textarea{
	width: 100%;
	max-width: 720px;
}

form select{
	width: 100%;
	max-width: 300px;
}

input#id_attachment{
	width: 50px;

}