@charset "utf-8";

#SaveDataInfo{
	display: none;
}

form label{
	display: none;
}

form input:not([type="submit"]),
form textarea{
	width: 100%;
	max-width: 720px;
}

form select{
	width: 100%;
	max-width: 300px;
}
