{% extends 'frame.html' %}
{% block title %}Read{% endblock %}

{% block body %}
	<div class="row">
		<p>{{search}}</p>
	</div>


	{% for item in data %}
		<div class="article row border border-left-0 border-right-0">
				<h4 class="col-sm-12 my-1"><a href="content/{{item.id}}" class="text-decoration-none">{{item.title}}</a></h4>
				<div class="col-sm-12 mt-1">
					<span class="float-left date">{{item.created_at}}</span>
					<span class="float-left ml-4 whosent" data-userid="609">{{item.whosend}}</span>
					<span class="float-right star">☆</span>
				</div>
				<p class="content col-sm-12 mt-2">{{item.content}}</p>
		</div>
	{% endfor %}
	<div class="article row border border-left-0 border-right-0">
			<h4 class="col-sm-12 my-1"><a href="content/" class="text-decoration-none">6月ライブリハの口頭コメント アンケート</a></h4>
			<div class="col-sm-12 mt-1">
				<span class="float-left date">2019.6.9 (Sun.)</span>
				<span class="float-left ml-4 whosent" data-userid="609">そんき人</span>
				<span class="float-right star">☆</span>
			</div>
			<p class="content col-sm-12 mt-2">6月ライブお疲れ様でした。本ライブのリハーサルでは制限時間、コメント内容の禁止事項など、いくつかルー</p>
	</div>

	<div class="article row border border-left-0 border-right-0">
			<h4 class="col-sm-12 my-1"><a>6月ライブについて</a></h4>
			<div class="col-sm-12 mt-1">
				<span class="float-left date">2019.6.6 (Tue.)</span>
				<span class="float-left ml-4 whosent" data-userid="609">そんき人</span>
				<span class="float-right star">☆</span>
			</div>
			<p class="content col-sm-12 mt-2">6月ライブのスケジュールについてお知らせします。日時:6/7(金)  19:00~場所:4共21 終了予定時刻: 21:30</p>
	</div>

{% endblock %}