@charset "utf-8";

div.content p{
	margin-bottom: 0;
	padding-bottom: 0.2rem;
	padding-left: 5px;
	border-left: #d6eef5 2px solid;
}
div.content p:first-child{
	display: none;
}
div.content p br{
	display: none;
}