@charset "utf-8";

form label{
	display: block;
}

form input,
form textarea{

}

form input:not([type="submit"]),
form textarea{
	width: 100%;
	max-width: 720px;
}

form select{
	width: 100%;
	max-width: 300px;
}